*.pyc
*.sqlite

*.gem

# vim swap files
.*.swp

# services' runtime files
*.log
*.pid

# Vagrant housekeeping file
.vagrant

build
dist
/local_mirror
/virtualbox/iso/*.iso
nosetests.xml
nailgun.log
lock

node_modules
nailgun/static/js/libs/bower

*.egg
.testrepository
.tox
.venv
.idea
.DS_Store
test_run/*

*.egg-info

fuel-web-venv
