<div class="row-fluid">
  <div class="span12">
    <h3 class="page-title" data-i18n="release_page.title">Releases</h3>
  </div>
</div>

<div class="table-releases-box">

<% if (releases.length) { %>

  <table class="table table-bordered table-striped releases-table">
    <thead>
      <tr>
        <th class="name" data-i18n="release_page.name">OpenStack Release</th>
        <th class="version" data-i18n="release_page.version">Version</th>
        <th class="status" data-i18n="release_page.status">Status</th>
        <th class="actions" data-i18n="release_page.actions">Actions</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

<% } else { %>
  <div class="alert" data-i18n="release_page.alert">There are no releases available.</div>
<% } %>

</div>
