<div class="row-fluid">
  <div class="span12">
    <h3 class="page-title" data-i18n="release_page.title"></h3>
  </div>
</div>

<div class="table-releases-box">

<% if (releases.length) { %>

  <table class="table table-bordered table-striped releases-table">
    <thead>
      <tr>
        <th class="name" data-i18n="release_page.release_name"></th>
        <th class="version" data-i18n="release_page.release_version"></th>
        <th class="status" data-i18n="release_page.release_status"></th>
        <th class="actions" data-i18n="release_page.release_actions"></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

<% } else { %>
  <div class="alert" data-i18n="release_page.no_releases_message"></div>
<% } %>

</div>
