<td class="release-name">
  <%- release.get('name') %>
  <div class="error release-error enable-selection"></div>
</td>
<td class="release-version"><%- release.get('version') %></td>
<td class="release-status">
  <% if (release.get('state') == 'downloading') { %>
    <div class="download_progress">
      <div class="progress progress-success progress-striped active">
        <div class="bar" style="width: 0%;"></div>
      </div>
      <div class="bar-title"><span data-i18n="release_page.release.download_progress"></span>: <span class="bar-title-progress">0%</span></div>
    </div>
  <% } else { %>
    <% var stateMessages = {'available': $.t('release_page.release.active'), 'error': $.t('release_page.release.error'), 'not_available': $.t('release_page.release.not_available'), 'downloading': $.t('release_page.release.download_progress')};
       var state = stateMessages[release.get('state')];
    %>
    <span class="<%- release.get('state') %>"> <%= state %></span>
  <% } %>
</td>
