{{#release}}
<td class="release-name">
  {{name}}
  <div class="error release-error enable-selection"></div>
</td>
<td class="release-version">{{version}}</td>
<td class="release-status">
  {{#downloading}}
    <div class="download_progress">
      <div class="progress progress-success progress-striped active">
        <div class="bar" style="width: 0%;"></div>
      </div>
      <div class="bar-title"><span data-i18n="release_page.release.downloading"></span>: <span class="bar-title-progress">0%</span></div>
    </div>
  {{/downloading}}
  {{^downloading}}
    <span class="{{state}}" data-i18n="release_page.release.{{state}}"></span>
  {{/downloading}}
</td>
{{/release}}
