/* Network Unterfaces Settings */
.physical-network-box {
  display: block;
}

.physical-network-box.nodrag {
  opacity: 0.7;
}

.network-box-name {
  border-bottom: 1px dotted #999999;
  font-size: 16px;
  padding: 8px 15px;
}

.network-box-item {
  display: block;
  background-color: #f0f0f0;
  min-height: 80px;
  border: 1px solid #999999;
  margin-left: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.network-box-item:after{
  clear: both;
  display: table;
  line-height: 0;
  content: "";
}

.physical-network-box.nodrag .network-box-item {
  border-color: red;
  background-color: #F2DEDE;
}

.network-info-box {
  display: block;
  width: 305px;
  min-height: 44px;
  float: left;
  margin: 17px 0px 0px 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.network-interfaces-status {
  display: block;
  width: 54px;
  height: 58px;
  background: #bbbbbb;
  padding: 0px;
  border-radius: 4px;
  overflow: hidden;
  float: left;
  margin-right: 20px;
  margin-top: 10px;
}

.interface-online, .interface-offline {
  display: block;
  font-family: "fontello";
  font-size: 34px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 17px;
  line-height: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 11px;
  padding-top: 22px;
  text-align: center;
  text-decoration: inherit;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  text-transform: none;
  width: 0;
  cursor: default;
}

.interface-online:before {
  content: '\e813';
  color: #187425;}

.interface-offline:before {
  content: '\e813';
  color: #494a4c;
}

.logical-network-box {
  display: block;
  width: 612px;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing:
  border-box;
  margin-bottom: 10px;
}

.logical-network-box:after {
  clear: both;
  display: table;
  line-height: 0;
  content: "";
}

.network-bond-name-checkbox {
    margin: 0px;
    margin-right: 12px;
}
.network-bond-name {
  margin-top: 2px;
  color: #333333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
.network-bond-mode {
  font-size: 13px;
  margin: 2px 0px 0px 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
.network-bond-mode > b {
  color: #555555;
}
.network-bond-status {
  font-size: 13px;
  margin: 2px 0px 0px 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
.network-bond-status > b {
  color: #555555;
}
.physical-network-checkbox {
  display: block;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 23px 0 0 15px;
  width: 54px;
}
.network-connections-block {
  display: block;
  float: left;
  width: 54px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.network-interfaces-name {
  color: #505050;
  font-size: 11px;
  font-weight: bold;
  margin: 0;
  line-height: 16px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.network-connections-info-block {
  display: block;
  float: left;
  width: 220px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; 
}
.network-connections-info-block-item {
  display: block;
  height: 58px;
  overflow: hidden;
  margin: 10px 0px 0px 10px;
}
.network-connections-info-position {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.network-connections-info-description {
  display: inline-block;
  vertical-align: middle;
}

.logical-network-group {
  display: block;
  float: left;
}

.logical-network-item {
  display: block;
  float: left;
  width: 110px;
  height: 58px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,.4);
  -webkit-box-shadow: inset 0 0 0 1px #fff;
  -moz-box-shadow: inset 0 0 0 1px #fff;
  box-shadow: inset 0 0 0 1px #fff;
  border: solid 1px #999;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: #d9d9d9; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5ZDlkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNGI0YjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #d9d9d9 0%, #b4b4b4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9d9d9), color-stop(100%,#b4b4b4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d9d9d9 0%,#b4b4b4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d9d9d9 0%,#b4b4b4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d9d9d9 0%,#b4b4b4 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #d9d9d9 0%,#b4b4b4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#b4b4b4',GradientType=0 ); /* IE6-8 */
}

.logical-network-item:hover {
  border: 1px solid #777777;
  background-image: -webkit-linear-gradient(bottom, #a7a6a6, #cdcccc);
  background-image: -moz-linear-gradient(bottom, #a7a6a6, #cdcccc);
  background-image: -o-linear-gradient(bottom, #a7a6a6, #cdcccc);
  background-image: -ms-linear-gradient(bottom, #a7a6a6, #cdcccc);
  background-image: linear-gradient(to top, #a7a6a6, #cdcccc);
  cursor: move;
}

.logical-network-group.disabled .logical-network-item[data-name=fuelweb_admin]:hover {
    cursor: not-allowed;
}

.logical-network-group.disabled .logical-network-item,
.logical-network-group.disabled .logical-network-item:hover{
    cursor: default;
}
.logical-network-item > .name {
  height: 18px;
  margin: 10px 3px 0;
  word-break: break-all;
  font-size: 14px;
  text-transform: capitalize;
  overflow: hidden;
}

.logical-network-item > .id {
  color: #444444;
  font-size: 10px;
}

.network-help-message {
  font-size: 16px;
  color: #555555;
  margin-top: 26px;
  position: absolute;
  margin-left: 10px;
}
.network-offline-message {
  font-size: 16px;
  color: #999999;
  margin-top: 26px;
}