.tab-nodes-normal    {background: url(../img/tab_icons@2x.png) no-repeat   0px   0px; background-size: 90px;}
.tab-nodes-good      {background: url(../img/tab_icons@2x.png) no-repeat -30px   0px; background-size: 90px;}
.tab-nodes-bad       {background: url(../img/tab_icons@2x.png) no-repeat -60px   0px; background-size: 90px;}

.tab-network-normal  {background: url(../img/tab_icons@2x.png) no-repeat   0px -30px; background-size: 90px;}
.tab-network-good    {background: url(../img/tab_icons@2x.png) no-repeat -30px -30px; background-size: 90px;}
.tab-network-bad     {background: url(../img/tab_icons@2x.png) no-repeat -60px -30px; background-size: 90px;}

.tab-settings-normal {background: url(../img/tab_icons@2x.png) no-repeat   0px -60px; background-size: 90px;}
.tab-settings-good   {background: url(../img/tab_icons@2x.png) no-repeat -30px -60px; background-size: 90px;}
.tab-settings-bad    {background: url(../img/tab_icons@2x.png) no-repeat -60px -60px; background-size: 90px;}

.tab-actions-normal {background: url(../img/tab_icons@2x.png) no-repeat   0px -90px; background-size: 90px;}
.tab-actions-good   {background: url(../img/tab_icons@2x.png) no-repeat -30px -90px; background-size: 90px;}
.tab-actions-bad    {background: url(../img/tab_icons@2x.png) no-repeat -60px -90px; background-size: 90px;}

.tab-logs-normal {background: url(../img/tab_icons@2x.png) no-repeat   0px -120px; background-size: 90px;}
.tab-logs-good   {background: url(../img/tab_icons@2x.png) no-repeat -30px -120px; background-size: 90px;}
.tab-logs-bad    {background: url(../img/tab_icons@2x.png) no-repeat -60px -120px; background-size: 90px;}

.tab-redhat-normal {background: url(../img/tab_icons@2x.png) no-repeat   0px -150px; background-size: 90px;}
.tab-redhat-good   {background: url(../img/tab_icons@2x.png) no-repeat -30px -150px; background-size: 90px;}
.tab-redhat-bad    {background: url(../img/tab_icons@2x.png) no-repeat -60px -150px; background-size: 90px;}

.tab-healthcheck-normal {background: url(../img/tab_icons@2x.png) no-repeat   0px -180px; background-size: 90px;}
.tab-healthcheck-good   {background: url(../img/tab_icons@2x.png) no-repeat -30px -180px; background-size: 90px;}
.tab-healthcheck-bad    {background: url(../img/tab_icons@2x.png) no-repeat -60px -180px; background-size: 90px;}

.navigation-bar-ul > .product-logo a .logo {background: url(../img/product-logo@2x.png) no-repeat top left; background-size: 92px;}

.actions-btn {background: url(../img/icons@2x.png) 0px -44px no-repeat; background-size: 22px;}
.node-details {background: url(../img/icons@2x.png) no-repeat 0px 0px; background-size: 22px;}
.node-details:hover {background: url(../img/icons@2x.png) no-repeat 0px -22px; background-size: 22px;}