@import "../js/libs/bower/bootstrap/dist/css/bootstrap.css";
@import "fonts.less";
@import "icons.less";
@import "customcheckbox.less";
@import "footer.less";

// COLOR SETTINGS

// Base Settings
@page-width: 1170px;

// Base Palette
@base-dark-color:  #394c59;
@base-light-color: #ffffff;
@base-text-color:  #525960;

// Other Colors
@white: #ffffff;
@black: #000000;
@red: #c94b4b;
@green: #54a854;
@blue: #4e85aa /* #2d95bf */;
@orange: #bc6e12;
@gray: #8c8c8c;

// @bg-color: #394c59;
@link-color: saturate(lighten(@base-dark-color, 20%), 30%);
@link-color-hover: saturate(lighten(@base-dark-color, 10%), 15%);
@navbar-color: saturate(lighten(@base-dark-color, 20%), 15%);
@navbar-color-active: saturate(lighten(@base-dark-color, 20%), 15%);

// Tabs & Content Settings
@tab-color: desaturate(lighten(@base-dark-color, 55%), 20%);
@tab-color-hover: desaturate(lighten(@base-dark-color, 50%), 20%);
@tab-color-active: @base-light-color;

// Fonts and Weight
@light: 'open sans light';
@semibold: 'open sans semibold';
@bold: 'open sans bold';
@fat: 'open sans extrabold';
.light {font-family: 'open sans light';}
.semibold {font-family: 'open sans semibold';}
.bold {font-family: 'open sans bold';}
.fat {font-family: 'open sans extrabold';}

// BASE SETTINGS

:focus {
    outline:none !important; // This option removes the blue border around the buttons in chrome and safari
}

html, body {
	font-family: 'open sans';
    font-weight: normal;
	font-size: 14px;
	/* background-color: #2f4050; */
	background-color: @base-dark-color;
	height: 100%;
}

b, strong {
    font-family: 'open sans bold';
    font-weight: normal;
}

a {
    color: @link-color;
}
a:hover {
    color: @link-color-hover;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'open sans light';
}

.text-green {color: @green;}
.text-red {color: @red;}
.text-blue {color: @blue;}
.text-orange {color: @orange;}

.navbar-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    width: 100%;
    height: 70px;
    background-color: @white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.navigation-box {
    width: 100%;
    height: 70px;
}

.clamp {
    width: 100%;
    max-width: @page-width;
    margin-left: auto;
    margin-right: auto;
    height: auto !important;
    min-height: 100%;
}
.clamp:after {
    content: ' ';
    display: block;
    /* height: 70px; */
    clear: both;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar {
    border-radius: 0px;
    border: 0px solid transparent;
    margin: 0px;
    min-height: 70px;
    position: relative;
}
.navbar-default .navbar-nav {
    margin-top: 18px;
    height: 34px;
}
.navbar-default .navbar-nav > li > a {
    font-family: 'bebas';
    font-size: 21px;
    color: @navbar-color;
    padding-top: 7px;
    padding-bottom: 0px;
    height: 34px;
    -webkit-font-smoothing: antialiased;
    margin-left: 4px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: @navbar-color;
    background-color: #e0e0e0;
    border-radius: 4px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: @white;
    background-color: @navbar-color-active;
    border-radius: 4px;
}

.navbar-icons {
    margin-top: 13px;
    height: 44px;
    position: relative;
}

.navbar-icons > li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 44px;
    height: 44px;
    margin-left: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}


.navbar-icons > .lang-icon {
    background: url(../img/icons/header-icons-sprite.svg) no-repeat 0px 0px;
}
.navbar-icons > .lang-icon:hover {
    background: url(../img/icons/header-icons-sprite.svg) no-repeat -44px 0px;
}

.navbar-icons > .usage-icon {
    background: url(../img/icons/header-icons-sprite.svg) no-repeat 0px -44px;
}
.navbar-icons > .usage-icon:hover {
    background: url(../img/icons/header-icons-sprite.svg) no-repeat -44px -44px;
}

.navbar-icons > .user-icon {
    background: url(../img/icons/header-icons-sprite.svg) no-repeat 0px -88px;
}
.navbar-icons > .user-icon:hover {
    background: url(../img/icons/header-icons-sprite.svg) no-repeat -44px -88px;
}

.navbar-icons > .notice-icon {
    background: url(../img/icons/header-icons-sprite.svg) no-repeat 0px -132px;
}
.navbar-icons > .notice-icon:hover {
    background: url(../img/icons/header-icons-sprite.svg) no-repeat -44px -132px;
}

.navbar-icons > li > .badge {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #c44903;
    border-radius: 4px;
    font-family: 'bebas book';
    padding: 3px 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    font-size: 14px;
    letter-spacing: 1px;
    box-sizing: border-box;
}

.lang-text {
    display: block;
    text-align: center;
    margin-left: 0px;
    margin-top: 7px;
    font-family: 'bebas bold';
    font-size: 22px;
    color: #5988a5;}

.navbar-logo {
    float: left;
    font-size: 18px;
    height: 60px;
    line-height: 20px;
    padding: 0px;
    margin-top: 2px;
    width: 166px;
}

.breadcrumb {
    background-color: transparent;
    border-radius: 4px;
    list-style: outside none none;
    font-size: 11px;
    /* font-family: 'open sans semibold'; */
    margin: 8px 0 0 0;
    padding: 0;
}
.breadcrumb > li {
    display: inline-block;
}
.breadcrumb > li > a {
    color: #9cbcd2;
}
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #9bb2c1;
    content: "/\00a0";
}
.breadcrumb > .active {
    color: #d0e1ec;
}
.page-title {
    min-height: 57px;
    margin-top: 10px;
}
.page-title > .title {
    color: #ffffff;
    font-size: 27px;
    text-shadow: 0 1px 0px rgba(0,0,0,0.3);
    display: block;
    height: 40px;
    overflow: hidden;
    font-family: @light;
}
.title-node-count {
    color: #7ca5c1;
    display: inline-block;
    font-size: 18px;
    left: 18px;
    position: relative;
    top: -2px;
}
.page-title > .cluster-info {
    display: block;
    height: 20px;
    margin-bottom: 10px;
    overflow: hidden;
}
.page-title > .cluster-info > ul {
    display: block;
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 0;
}
.page-title > .cluster-info > ul > li {
    float: left;
    margin-right: 18px;
    font-size: 11px;
    color: #b3c0c5;
    text-shadow: 0 1px 0px rgba(0,0,0,0.3);
    -webkit-font-smoothing: subpixel-antialiased;
}
.deploy-box {
    display: block;
    height: 60px;
    overflow: hidden;
    padding-right: 0px;
    padding-top: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.deploy-icon {
    position: relative;
    top: 3px;
    display: inline-block;
    margin-right: 6px;
    background: url(../img/icons/icons-sprite.svg) no-repeat -10px -90px;
    width: 22px;
    height: 18px;
}
.deploy-icon:before {
    content: " ";
}
.discard-changes-icon {
    position: relative;
    display: inline-block;
    background: url(../img/icons/icons-sprite.svg) no-repeat 0px -40px;
    width: 40px;
    height: 40px;
}
.node-discard-changes-icon {
    background: url(../img/icons/icons-sprite.svg) no-repeat -40px -40px;
    width: 40px;
    height: 40px;
}
.btn-transparent {
    border: none;
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 6px;
    height: 38px;
    padding: 0;
    width: 38px;
    margin-right: 10px;
}
.btn-transparent:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
.btn-transparent:focus {
    border: 0px;
    outline: 0;
    outline-color: red;
    outline-style: none;
    text-decoration: none!important;
}

/* Tabs */
.tabs-box {
    width: 100%;
    height: 52px;
    overflow: hidden;
}

.tabs-box > .tabs {
    width: 95%;
    height: 52px;
    overflow: hidden;
    float: left;
}

.tabs-box > .tabs > .cluster-tab {
    cursor: pointer;
    display: inline-block;
    /* width: 92px; */
    width: 8.9%;
    height: 52px;
    background-color: @tab-color;
    border-radius: 4px 4px 0 0;
    border-bottom: 2px solid @base-dark-color;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    font-size: 11px;
    float: left;
    margin-right: 2px;
    color: @base-text-color;
}
.tabs-box > .tabs > .cluster-tab:hover {
    background-color: @tab-color-hover;
    text-decoration: none;
}

.tabs-box > .tabs > .cluster-tab > .icon {
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

.tabs-box > .tabs > .cluster-tab > .nodes {
    background: url(../img/tabs/tabs-icons-sprite.svg) no-repeat 0px 0px;
}
.tabs-box > .tabs > .cluster-tab:hover > .nodes, .tabs-box > .tabs > .active > .nodes {
    background: url(../img/tabs/tabs-icons-sprite.svg) no-repeat -40px 0px;
}
.tabs-box > .tabs > .cluster-tab > .networks {
    background: url(../img/tabs/tabs-icons-sprite.svg) no-repeat 0px -40px;
}
.tabs-box > .tabs > .cluster-tab:hover > .networks, .tabs-box > .tabs > .active > .networks {
    background: url(../img/tabs/tabs-icons-sprite.svg) no-repeat -40px -40px;
}
.tabs-box > .tabs > .cluster-tab > .settings {
    background: url(../img/tabs/tabs-icons-sprite.svg) no-repeat 0px -80px;
}
.tabs-box > .tabs > .cluster-tab:hover > .settings,  .tabs-box > .tabs > .active > .settings {
    background: url(../img/tabs/tabs-icons-sprite.svg) no-repeat -40px -80px;
}
.tabs-box > .tabs > .cluster-tab > .logs {
    background: url(../img/tabs/tabs-icons-sprite.svg) no-repeat 0px -120px;
}
.tabs-box > .tabs > .cluster-tab:hover > .logs,  .tabs-box > .tabs > .active > .logs {
    background: url(../img/tabs/tabs-icons-sprite.svg) no-repeat -40px -120px;
}
.tabs-box > .tabs > .cluster-tab > .healthcheck {
    background: url(../img/tabs/tabs-icons-sprite.svg) no-repeat 0px -160px;
}
.tabs-box > .tabs > .cluster-tab:hover > .healthcheck, .tabs-box > .tabs > .active > .healthcheck {
    background: url(../img/tabs/tabs-icons-sprite.svg) no-repeat -40px -160px;
}
.tabs-box > .tabs > .cluster-tab > .actions {
    background: url(../img/tabs/tabs-icons-sprite.svg) no-repeat 0px -200px;
}
.tabs-box > .tabs > .cluster-tab:hover > .actions, .tabs-box > .tabs > .active > .actions {
    background: url(../img/tabs/tabs-icons-sprite.svg) no-repeat -40px -200px;
}
.tabs-box > .tabs > .cluster-tab > .virtualmachine {
    background: url(../img/tabs/tabs-icons-sprite.svg) no-repeat 0px -240px;
}
.tabs-box > .tabs > .cluster-tab:hover > .virtualmachine,  .tabs-box > .tabs > .active > .virtualmachine {
    background: url(../img/tabs/tabs-icons-sprite.svg) no-repeat -40px -240px;
}
.tabs-box > .tabs > .cluster-tab > .plugin {
    background: url(../img/tabs/tabs-icons-sprite.svg) no-repeat 0px -280px;
}
.tabs-box > .tabs > .cluster-tab:hover > .plugin, .tabs-box > .tabs > .active > .plugin {
    background: url(../img/tabs/tabs-icons-sprite.svg) no-repeat -40px -280px;
}

.tabs-box > .tabs > .cluster-tab > .label {
    display: block;
    text-align: center;
    line-height: 1;
    font-family: @semibold;
    font-weight: normal;
    color: #525960;
    cursor: pointer;
    font-size: 11px;
    margin-top: -6px;
}

.tabs-box > .tabs > .active, .tabs-box > .tabs > .active:hover {
    background-color: @tab-color-active;
    border-bottom: 2px solid @tab-color-active;
}

.tab-scroller {
    float: right;
    width: 5%;
    height: 50px;
    overflow: hidden;
}
.tab-scroller > .left {
    display: inline-block;
    width: 28px;
    height: 50px;
    float: left;
    opacity: 0.7;
    background: url(../img/tabs/tab-arrow-left-icon.svg) no-repeat top left;
    cursor: pointer;
}
.tab-scroller > .left:hover {
    opacity: 1;
}
.tab-scroller > .right {
    display: inline-block;
    width: 28px;
    height: 50px;
    float: left;
    opacity: 0.7;
    background: url(../img/tabs/tab-arrow-right-icon.svg) no-repeat top left;
    cursor: pointer;
}
.tab-scroller > .right:hover {
    opacity: 1;
}
.tab-scroller > .disable, .tab-scroller > .disable:hover  {
    opacity: 0.3;
    cursor: default;
}

// Content Box
.content-box {
    background-color: @base-light-color;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding: 20px;
    color: @base-text-color;
    box-sizing: border-box;
}

/*
.content-box > div > div > h1, .content-box > div > div > h2, .content-box > div > div > h3, .content-box > div > div > h4, .content-box > div > div > h5 {
    margin: 0;
    padding: 0 0 8px 0;
}
*/


.for-tabs {
    border-radius: 0 8px 8px 8px;
}

.content-box > .row > .title {
    padding: 0px 15px 0px 15px;
    margin-bottom: 10px;
    font-family: @light;
    font-size: 26px;
}


.menu {
    width: 100%; height: 50px; text-align: center; background-color: @red; padding: 15px; color: #ffffff;
}

@-webkit-keyframes pulse_animation {
	0% { -webkit-transform: scale(1); }
	30% { -webkit-transform: scale(1); }
	40% { -webkit-transform: scale(1.08); }
	50% { -webkit-transform: scale(1); }
	60% { -webkit-transform: scale(1); }
	70% { -webkit-transform: scale(1.05); }
	80% { -webkit-transform: scale(1); }
	100% { -webkit-transform: scale(1); }
}

.pulse {
	-webkit-animation-name: 'pulse_animation';
	-webkit-animation-duration: 500ms;
	-webkit-transform-origin:70% 70%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

#sticker {
    width: @page-width - 10;
    box-sizing:border-box;
    z-index: 999999;
    height: 80px;
    overflow: hidden;
    margin-bottom: 6px;
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(80%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

}

// Node Block
// -------------------------
.node {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: block;
    height: 58px;
    margin-bottom: 6px;
    overflow: hidden;
    padding: 2px;
    width: auto;
    font-size: 12px;
    border: 1px solid #c3c5c7;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 0 3px #fff;
	-moz-box-shadow: inset 0 0 0 3px #fff;
	box-shadow: inset 0 0 0 3px #fff;
    background-color: #e1e4e6;
}
.node:hover {
    background-color: #dcdfe1;
    border-color: #adafb1;
    -webkit-box-shadow: inset 0 0 0 1px #fff;
	-moz-box-shadow: inset 0 0 0 1px #fff;
	box-shadow: inset 0 0 0 1px #fff;
}

.node-box {
    /*
    border-radius: 3px;
    */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: block;
    height: 52px;
    font-weight: 100;
    cursor: pointer;
}

.selected {
    background-color: #d7dadc !important;
    border-color: #d7dadc;
    -webkit-box-shadow: inset 0 0 0 0px #c3c5c7;
	-moz-box-shadow: inset 0 0 0 0px #c3c5c7;
	box-shadow: inset 0 0 0 0px #c3c5c7;
}

.unallocated {
    background-color: #ffffff;
    border-color: #c3c5c7;
}

.unallocated:hover {
    background-color: #f9fcfe;
}

.error {
    border-color: @red !important;
    background-color: #decace !important;
}

.new {
    border-color: @green !important;
}

.offline {
    background-color: #e9ecee !important;
    border-color: #d3d6d8 !important;
    opacity: .7;
}


.check-box {
    width: 52px;
    height: 50px;
    border-right: 1px dotted #afafaf;
    float: left;
    overflow: hidden;
    padding: 3px 0 0 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.node-name {
    float: left;
    overflow: hidden;
    height: 50px;
    width: 430px;
}
.node-name > .name {
    height: 32px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 8px 0px 0px 0px;
    font-family: @semibold;
    overflow: hidden;
}
.node-name > .name p {
    cursor: pointer;
    display: inline;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
    line-height: 1px;
    border-bottom: 1px dotted #aaaaaa;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
    font-size: 15px;

}
.node-name > .name p:hover {
    color: @link-color-hover;
    border-bottom-color: @link-color-hover;
}
.role-list {
    display: block;
    font-size: 10px;
    height: 14px;
    margin: -2px 0 0;
    overflow: hidden;
    padding: 0;
    text-transform: uppercase;
    font-size: 10px;
    color: @gray;
}
.role-list > ul {
    float: left;
    margin: 1px 0 0;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.role-list > ul > .new {
    color: @green;
}
.role-list > ul > li {
    display: inline-block;
    float: left;
    margin-right: 3px;
}
.role-list > ul > li:after {
    content: "·";
    margin-left: 3px;
}
.role-list > ul > li:last-child:after {
    content: "";
}

.node-action {
    width: 40px;
    float: left;
    height: 40px;
    overflow: hidden;
    margin-top: 6px;
}

.node-action > .icon {
    margin: 0px;
    padding: 0px;
    opacity: 0.6;

}
.node-action > .icon:hover {
    opacity: 1;
}

.node-status {
    width: 180px;
    float: left;
    overflow: hidden;
    height: 50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 16px 20px 0px 20px;
    text-align: center;
    font-family: @semibold;
}

.node-status > span {
    display: block;
    font-size: 11px;
    text-transform: uppercase;
    margin-top: 3px;
}

.node-hardware {
    width: 280px;
    float: left;
    overflow: hidden;
    height: 50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 19px 0px 0px 0px;
    text-align: right;
}
.node-hardware > span {
    font-family: 'open sans';
    font-size: 11px;
    display: inline-block;
    float: left;
    overflow: hidden;
    padding: 0 0 0 15px;
}
.node-settings {
    width: 40px;
    height: 40px;
    float: right;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: url(../img/icons/icons-sprite.svg) no-repeat 0px 0px;
    margin: 6px 4px 0px 0px;

}
.node-settings:hover {
    background: url(../img/icons/icons-sprite.svg) no-repeat -40px 0px;
}

.nodes-group {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #e0e0e0;
    padding: 0px 20px 20px 20px;
    border-radius: 6px;
}

/*
.node .node-box .node-new {
    border-color: #61a466;
}
.node .node-box {
    background: linear-gradient(to bottom, #edeeef 0%, #dfe2e4 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #aaaaaa;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
}
.node-box .custom-tumbler {
    float: left;
    height: 24px;
    margin: 12px;
    width: 24px;
}
.custom-tumbler {
    float: left;
    height: 24px;
    margin: 4px 5px 0 0;
    position: relative;
    width: 24px;
}
.custom-tumbler input[type="checkbox"] {
    cursor: pointer;
    height: 17px;
    margin: 5px 0 0 5px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 17px;
}
.custom-tumbler input[type="checkbox"] + span {
    background: url("../img/radio_checkbox.png") no-repeat scroll -24px 0 transparent;
    display: block;
    font-size: 1px;
    height: 24px;
    line-height: 0;
    overflow: hidden;
    width: 24px;
}
.node .node-content {
    border: 1px solid #f8f9f9;
    box-sizing: border-box;
    display: block;
    height: 50px;
}
.node .node-content .node-logo {
    border-left: 1px dotted #aaaaaa;
    box-sizing: border-box;
    color: #aeaeae;
    display: inline-block;
    float: left;
    font-family: "fontello";
    font-size: 33px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 48px;
    padding: 14px 0 0;
    text-align: center;
    text-decoration: inherit;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    text-transform: none;
    width: 58px;
}
.node .node-content .node-name-roles {
    float: left;
    width: 300px;
}
.node .node-content .node-name-roles .name {
    display: block;
    height: 22px;
    margin: 3px 0 0;
    overflow: hidden;
}
.node .node-content .node-name-roles .name p.node-renameable {
    border-bottom: 1px dotted #aaaaaa;
}
.node .node-content .node-name-roles .name .node-renameable {
    border-bottom: 1px dotted #bbbbbb;
    color: #222222;
    cursor: pointer;
    display: inline;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
}
.node .node-content .node-name-roles .name p {
    border-bottom: 1px dotted #aaaaaa;
    color: #4a4a4a;
    display: inline;
    font-size: 15px;
    font-weight: normal;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.node .node-content .node-name-roles .role-list {
    color: #666666;
    display: block;
    font-size: 10px;
    height: 18px;
    margin: -2px 0 0;
    overflow: hidden;
    padding: 0;
    text-transform: uppercase;
}
.node .node-content .node-name-roles .role-list > ul {
    float: left;
    margin: 1px 0 0;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.node .node-content .node-name-roles .role-list > ul {
    float: left;
    margin: 1px 0 0;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.node .node-content .node-name-roles .role-list > ul > li:last-child:after {
    content: "";
}
.node .node-content .node-name-roles .role-list > ul > li:after {
    content: "·";
    font-weight: bold;
    margin-left: 3px;
}
.node .node-content .node-name-roles .role-list > .pending-roles li {
    color: #468847;
}
.node .node-content .node-name-roles .role-list > ul > li {
    display: inline-block;
    float: left;
    margin-right: 3px;
}
.node .node-content .node-button {
    float: left;
    height: 100%;
    line-height: 42px;
}
.node .node-content .node-status.msg-ok {
    color: #17824b;
}
.node .node-content .node-status {
    display: block;
    float: left;
    font-size: 9.5px;
    height: 100%;
    margin: 0;
    overflow: hidden;
    text-transform: uppercase;
    width: auto;
}
.node .node-content .node-status .node-status-container {
    line-height: 48px;
}
.node .node-content .node-details {
    background: url("/static/img/icons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    float: right;
    height: 22px;
    margin: 13px 13px 0 14px;
    overflow: hidden;
    position: relative;
    width: 22px;
}
.node .node-content .node-hardware {
    color: #666666;
    float: right;
    font-size: 11px;
    margin: 14px 0 0;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    width: 290px;
}
.node .node-content .node-hardware span {
    display: inline-block;
    float: left;
    overflow: hidden;
    padding: 0 0 0 15px;
}
*/

.node-box > .manufacturer-logo {
    width: 50px;
    overflow: hidden;
    height: 50px;
    float: left;
}

.node-box > .dell {
    background: url(../img/logos/dell-logo.svg) no-repeat top left;
}
.node-box > .cisco {
    background: url(../img/logos/cisco-logo.svg) no-repeat top left;
}
.node-box > .vbox {
    background: url(../img/logos/vbox-logo.svg) no-repeat top left;
}
.node-box > .vmware {
    background: url(../img/logos/vmware-logo.svg) no-repeat top left;
}
.node-box > .hp {
    background: url(../img/logos/hp-logo.svg) no-repeat top left;
}
.node-box > .xen {
    background: url(../img/logos/xen-logo.svg) no-repeat top left;
}
.node-box > .openvz {
    background: url(../img/logos/openvz-logo.svg) no-repeat top left;
}
.node-box > .kvm {
    background: url(../img/logos/kvm-logo.svg) no-repeat top left;
}
.node-box > .supermicro {
    background: url(../img/logos/supermicro-logo.svg) no-repeat top left;
}
.node-box > .qemu {
    background: url(../img/logos/qemu-logo.svg) no-repeat top left;
}

.clusterbox {
    display: block;
    width: 100%;
    height: 192px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: @white;
    /* height: 200px; */
    border-radius: 6px;
    margin-bottom: 30px;
    padding: 16px;
    text-decoration: none;
    color: #8e8e8e;
}
.clusterbox:hover {
    background-color: #e9ecee;
    text-decoration: none;
}
.clusterbox:hover > .name {
    color: @blue;
}

.clusterbox > .name {
    font-size: 17px;
    font-family: 'open sans semibold';
    text-decoration: none;
    height: 42px;
    overflow: hidden;
    color: #525960;
    line-height: 20px;
    word-break: break-all;
}

.clusterbox > .tech-info {
    height: 80px;
    font-size: 13px;
    color: @gray;
    margin: 10px 0px 8px 0px;
    overflow: hidden;
}

.clusterbox > .tech-info > .item {
    width: 70%;
    float: left;
}
.clusterbox > .tech-info > .item:after {
    content: ":";
}
.clusterbox > .tech-info > .value {
    width: 30%;
    float: left;
    text-align: right;
}
.clusterbox > .status {
    clear: both;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 1px dotted @gray;
    text-align: center;
    height: 20px;
    padding-top: 6px;
    font-family: @semibold;
}
.create-cluster {
    display: block;
    width: 100%;
    height: 192px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 6px;
    margin-bottom: 30px;
    padding: 16px;
    text-decoration: none;
    background: url(../img/icons/new-environment.svg) no-repeat center 20px;
    text-align: center;
    color: @blue;
    text-decoration: none;
    font-family: 'open sans bold';
}
.create-cluster:hover {
    background: @white url(../img/icons/new-environment.svg) no-repeat center 20px;
    text-decoration: none;
    color: @blue;
}
.create-cluster > span {
    display: block;
    margin-top: 132px;
}
.filter-group > label {
    font-size: 12px;
}
.control-buttons-box {
    height: 34px;
    margin-top: 24px;
    overflow: hidden;
}

.support-box {
    display: block;
    width: 100%;
    height: auto;

}
.support-box-cover {
    display: block;
    width: 120px;
    height: 120px;
    background-color: #7B94A5 ;
    border-radius: 60px;
    border: 3px solid #e0e0e0;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.support-box-content {
    width: 100%;
    margin-left: -140px;
    padding-left: 140px;
    display: block;
    float: right;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.support-box-content > h3 {
    margin-top: 0px;
}

.support-box:after {
    clear: both;
    display: table;
    content: " ";
}

.support-checkbox {
    display: block;
    margin-bottom: 10px;
}

.support-checkbox > label {
    font-weight: 400;
}

.send-stat-icon {
    background: #7B94A5 url(../img/icons/support-images.svg) no-repeat top left;
}

