Babel==1.3
Jinja2==2.7
Mako==0.9.1
MarkupSafe==0.18
PyYAML==3.10
SQLAlchemy>=0.9.4
alembic>=0.6.2
amqplib==1.0.2
anyjson==0.3.3
argparse==1.2.1
decorator==3.4.0
fysom==1.0.11
iso8601==0.1.9
jsonschema==2.3.0
kombu==3.0.16
netaddr>=0.7.10
oslo.config>=1.6.0,<1.10.0
oslo.serialization>=1.2.0,<1.5.0
ply==3.4
psycopg2==2.5.1
pycrypto==2.6.1
requests>=2.2.0,!=2.4.0,<2.8.0
simplejson>=3.3.0
six>=1.5.2
urllib3>=1.7
web.py==0.37
wsgilog==0.3
wsgiref==0.1.2
keystonemiddleware>=1.2.0,<1.6.0
# we might still need keystone command
python-keystoneclient>=0.11,<1.4.0
python-novaclient>=2.17.0,<2.24.0
python-cinderclient>=1.0.7,<1.2.0
networkx>=1.8,<1.10
pydot-ng>=1.0.0
ordereddict>=1.1
oslo.utils<1.4.1
# NOTE(prmtl): not all packages has correctly
# requirements for stevedore - some of them install
# newest one which case version conflicts
# See: https://bugs.launchpad.net/fuel/+bug/1481212
stevedore<1.4.0
