Babel
Jinja2
Mako
MarkupSafe
PyYAML
SQLAlchemy
alembic
amqplib
anyjson
decorator
fysom
iso8601
jsonschema
kombu
netaddr
oslo.config
oslo.serialization
ply
psycopg2
pycrypto
requests
simplejson
six
urllib3
web.py
wsgilog
wsgiref
keystonemiddleware
# we might still need keystone command
python-keystoneclient
python-novaclient
python-cinderclient
networkx
pydot-ng
oslo.utils
# NOTE(prmtl): not all packages has correctly
# requirements for stevedore - some of them install
# newest one which case version conflicts
# See: https://bugs.launchpad.net/fuel/+bug/1481212
stevedore
