<div class="cluster-name"><%- cluster.get('name') %></div>
<% var nodes = cluster.get('nodes') %>
<div class="cluster-hardware">
  <% if (!nodes.deferred || nodes.deferred.state() == 'resolved') { %>
    <div class="row-fluid">
      <div class="span6" data-i18n="clusters_page.cluster_hardware_nodes"></div>
      <div class="span4"><%= nodes.length %></div>
      <% if (nodes.length) { %>
        <div class="span6" data-i18n="clusters_page.cluster_hardware_cpu"></div>
        <div class="span4"><%= nodes.resources('cores') %></div>
        <div class="span6" data-i18n="clusters_page.cluster_hardware_hdd"></div>
        <div class="span4"><%= nodes.resources('hdd') ? showDiskSize(nodes.resources('hdd')) : '?GB' %></div>
        <div class="span6" data-i18n="clusters_page.cluster_hardware_ram"></div>
        <div class="span4"><%= nodes.resources('ram') ? showMemorySize(nodes.resources('ram')) : '?GB' %></div>
      <% } %>
    </div>
  <% } %>
</div>
<div class="cluster-status">
  <% if (deploymentTask) { %>
    <div class="cluster-status-progress <%- deploymentTask.get('name') %>">
      <div class="progress progress-<%= _.contains(['stop_deployment', 'reset_environment'], deploymentTask.get('name')) ? 'warning' : 'success' %> progress-striped active">
        <div class="bar"></div>
      </div>
    </div>
  <% } else { %>
    <%- $.t('cluster.status.' + cluster.get('status'), {defaultValue: cluster.get('status')}) %>
  <% } %>
</div>
