<div class="alert alert-info alert-dismissable register-trial">
    <button type="button" class="close" aria-hidden="true">&times;</button>
    <p>
        <i class="icon-mirantis"></i>
        <%- $.t('clusters_page.register_trial_message.part1') %><br>
        <%- $.t('clusters_page.register_trial_message.part2') %><a target="_blank" class="registration-link" href=""><%- $.t('clusters_page.register_trial_message.part3') %></a><%- $.t('clusters_page.register_trial_message.part4') %>
    </p>
</div>