[Unit]
Name=Assassind daemon

[Service]
ExecStart=/bin/bash -c "/usr/bin/assassind 2>&1 >> /var/log/nailgun/assassind.log"

[Install]
WantedBy=multi-user.target

