[Unit]
Name=Nailgun daemon
ConditionPathExists=/etc/nailgun/uwsgi_nailgun.yaml

[Service]
ExecStartPre=/usr/bin/mkdir -p /var/log/nailgun
ExecStart=/bin/bash -c "/usr/sbin/uwsgi -y /etc/nailgun/uwsgi_nailgun.yaml 2>&1 >> /var/log/nailgun/uwsgi.log"
ExecReload=/usr/sbin/uwsgi --reload /var/run/nailgun.pid
ExecStop=/usr/sbin/uwsgi --stop /var/run/nailgun.pid
ExecStopPost=/usr/bin/rm -f /var/run/nailgun.pid

[Install]
WantedBy=multi-user.target

