[Unit]
Name=oswl flavor collector daemon

[Service]
ExecStart=/bin/bash -c "/usr/bin/oswl_collectord flavor 2>&1 >> /var/log/nailgun/oswl_flavor_collectord.log"

[Install]
WantedBy=multi-user.target

