[Unit]
Name=oswl vm collector daemon

[Service]
ExecStartPre=/usr/bin/mkdir -p /var/log/nailgun
ExecStart=/bin/bash -c "/usr/bin/oswl_collectord vm 2>&1 >> /var/log/nailgun/oswl_vm_collectord.log"

[Install]
WantedBy=multi-user.target

