[Unit]
Name=Receiverd daemon

[Service]
ExecStart=/bin/bash -c "/usr/bin/receiverd 2>&1 >> /var/log/nailgun/receiverd.log"

[Install]
WantedBy=multi-user.target

