[Unit]
Name=Statsenderd daemon

[Service]
ExecStart=/bin/bash -c "/usr/bin/statsenderd 2>&1 >> /var/log/nailgun/statsenderd.log"

[Install]
WantedBy=multi-user.target

