<div class="row-fluid">
  <div class="span12">
    <h3 class="page-title" data-i18n="capacity_page.title"></h3>
  </div>
</div>

<div class="capatity page-wrapper">
<% if (!_.isUndefined(this.model) && this.model.deferred.state() != 'pending') { %>

  <div class="row-fluid">
    <div class="span12">
      <h3 data-i18n="capacity_page.license_usage"></h3>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">

      <table class="table table-bordered table-striped releases-table">
        <thead>
          <tr>
            <th class="name" data-i18n="capacity_page.fuel_version"></th>
            <th data-i18n="capacity_page.fuel_uuid"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%- this.model.get('report').fuel_data.release %></td>
            <td><%- this.model.get('report').fuel_data.uuid %></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">

      <table class="table table-bordered table-striped releases-table">
        <thead>
          <tr>
            <th class="name" data-i18n="capacity_page.env_name"></th>
            <th data-i18n="capacity_page.node_count"></th>
          </tr>
        </thead>
        <tbody>
          <% _.each(this.model.get('report').environment_stats, function(env) { %>
          <tr>
            <td><%- env.cluster %></td>
            <td><%- env.nodes %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>

    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">

      <table class="table table-bordered table-striped releases-table">
        <thead>
          <tr>
            <th class="name" data-i18n="capacity_page.total_number_alloc_nodes"></th>
            <th data-i18n="capacity_page.total_number_unalloc_nodes"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%- this.model.get('report').allocation_stats.allocated %></td>
            <td><%- this.model.get('report').allocation_stats.unallocated %></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">

      <table class="table table-bordered table-striped releases-table">
        <thead>
          <tr>
            <th class="name" data-i18n="capacity_page.node_role"></th>
            <th data-i18n="capacity_page.nodes_with_config"></th>
          </tr>
        </thead>
        <tbody>
          <% _.each(_.pairs(this.model.get('report').roles_stat), function(stats) { %>
          <tr>
            <td><%- stats[0] %></td>
            <td><%- stats[1] %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>

    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
        <a href="/api/capacity/csv" class="btn btn-info">
          <i class="icon-install"></i>
          <span data-i18n="capacity_page.download_report"></span>
        </a>
    </div>
  </div>



<% } else { %>
  <div class="row-fluid">
      <div class="span12" align="center">
        <span class="icon-process animate-spin"></span><span data-i18n="capacity_page.loading"></span>
      </div>
  </div>
<% } %>
</div>
