<div class="row-fluid">
  <div class="span12">
    <h3 class="page-title" data-i18n="support_page.title"></h3>
  </div>
</div>

<div class="support page-wrapper">

  <% if (_.contains(app.version.get('feature_groups'), 'mirantis')) { %>
  <div class="row-fluid">
    <div class="span2"><div class="img-register-fuel"></div></div>
    <div class="span10">
      <h4 data-i18n="support_page.register_fuel_title"></h4>
      <p data-i18n="support_page.register_fuel_content">
      </p>
      <p>
        <a class="btn registration-link" href="" target="_blank" data-i18n="support_page.register_fuel_title"></a>
      </p>
    </div>
  </div>

  <hr>

  <div class="row-fluid">
    <div class="span2"><div class="img-contact-support"></div></div>
    <div class="span10">
      <h4 data-i18n="support_page.contact_support"></h4>
      <p data-i18n="support_page.contact_text">
      </p>
      <p>
        <span data-i18n="support_page.irc_text"></span>
        <strong>#fuel</strong> on <a href="http://freenode.net" target="_blank">freenode.net</a>.
      </p>
      <p>
        <a class="btn" href="https://mirantis.zendesk.com/requests/new" target="_blank" data-i18n="support_page.contact_support"></a>
      </p>
    </div>
  </div>

  <hr>
  <% } %>

  <div class="row-fluid">
    <div class="span2"><div class="img-download-logs"></div></div>
    <div class="span10">
      <h4 data-i18n="support_page.download_diagnostic_snapshot_text"></h4>
      <p data-i18n="support_page.log_text">
      </p>
      <p>
          <%
              var task = tasks.findTask({name: 'dump'});
              var taskCompleted = task && task.get('progress') == 100;
          %>

          <% if (!_.isNull(tasks.deferred)) { %>
            <button class="btn download-logs-progress disabled" data-i18n="support_page.loading"></button>
          <% } else if (!task || taskCompleted) { %>
            <button class="btn download-logs" data-i18n="support_page.gen_diagnostic_snapshot_text"></button>
          <% } %>

          <button class="btn hide genereting-logs disabled" data-i18n="support_page.gen_logs_snapshot_text"></button>

          <% if (taskCompleted && task.match({status: 'ready'})) { %>
          <span class="donwload-logs-link" style="margin-left: 10px;">
            <a href="<%- task.get('message') %>"><i class="icon-install"></i><span data-i18n="support_page.diagnostic_snapshot"></span></a>
          </span>
          <% } %>

          <% if (taskCompleted && task.match({status: 'error'})) { %>
          <span class="error download-logs-error"><%- task.get('message') %></span>
          <% } %>
      </p>
    </div>
  </div>

  <hr>

  <div class="row-fluid">
    <div class="span2"><div class="img-audit-logs"></div></div>
    <div class="span10">
      <h4 data-i18n="support_page.capacity_audit"></h4>
      <p data-i18n="support_page.capacity_audit_text">
      </p>
      <p>
        <a class="btn" href="#capacity" data-i18n="support_page.view_capacity_audit"></a>
      </p>
    </div>
  </div>
</div>
