<ul class="breadcrumb">
  <% _.each(path, function(part) { %>
    <% if (_.isArray(part)) { %>
        <% if (part[2]) { %>
             <li class="active"><%- part[0] %></li>
        <% } else { %>
          <li>
            <a href="<%- part[1] %>"><%- $.t('breadcrumbs.' + part[0], {defaultValue: part[0]}) %></a><span class="divider">/</span>
          </li>
        <% } %>
    <% } else { %>
      <li class="active"><%- $.t('breadcrumbs.' + part, {defaultValue: part}) %></li>
    <% } %>
  <% }) %>
</ul>

<div class="cluster-name-box">
    <div class="cluster-name-placeholder">
        <div class="name-box">
            <div class="name">The longest name of the cluster</div>
            <div class="node-list-name-count">(4 nodes)</div>
            <div class="clearfix"></div>
        </div>
        <div class="cluster-status-placeholder">
            <span class="cluster-status-item"><strong>OpenStack Release:</strong> Icehouse on CentOS 6.5</span>
            <span class="cluster-status-item"><strong>Status:</strong> Error</span>
            <span class="cluster-status-item"><strong>Deployment Mode:</strong> Multi-node with HA</span>
        </div>    
    </div>
    <div class="cluster-deploy-placeholder">
        <div class="pull-right deployment-control-box">
            <div class="deployment-control-item-box"><button class="deploy-btn "><i class="icon-upload-cloud"></i> Deploy Changes</button></div>
            <div class="deployment-control-item-box">
                <button title="Discard Changes" role="button" class="btn rollback"><i class="icon-back-in-time"></i></button>
            </div>
        </div>
    </div>
</div>