<div class="footer-box">
  <% if (isMirantis) { %>-
    <a href="http://www.mirantis.com" target="_blank" class="footer-logo"></a>
    <div class="footer-copyright pull-left" data-i18n="common.copyright"></div>
  <% } %>
  <% if (version) { %>
    <div class="footer-version pull-right">Version: <%- version || '' %></div>
  <% } %>
  <div class="footer-lang pull-right">
    <div class="dropdown dropup">
      <button class="dropdown-toggle current-locale btn btn-link" data-toggle="dropdown"><%- currentLocale.name %></button>
      <ul class="dropdown-menu locales">
        <% _.each(locales, function(locale) { %>
          <li>
            <a data-locale="<%- locale.locale %>"><%- locale.name %></a>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
</div>
