<div class="navigation-bar">
  <div class="navigation-bar-box">
    <ul class="navigation-bar-ul">
      <li class="product-logo">
        <a href="#"><div class="logo"></div></a>
      </li>
      {{#elements}}
        <li>
          <a class="{{#active}} active {{/active}}" href="{{url}}">
            {{ t('navbar.' + label, {defaultValue: label}) }}
          </a>
        </li>
      {{/elements}}
      <li class="space"></li>
      <li class="navigation-bar-icon notifications"></li>
      <li class="navigation-bar-icon nodes-summary-container"></li>
    </ul>
  </div>
</div>
<div class="notification-wrapper"></div>
