<div class="user-info-box">
  <% if (version.get('auth_required') && user.get('authenticated')) { %>
    <i class="icon-user"></i>
    <%- user.get('username') %>
    <a class="change-password"><%- $.t('common.change_password') %></a>
    <a href="#logout"><%- $.t('common.logout') %></a>
  <% } %>
</div>
<div class="navigation-bar">
  <div class="navigation-bar-box">
    <ul class="navigation-bar-ul">
      <li class="product-logo">
        <a href="#"><div class="logo"></div></a>
      </li>
      <% elements.each(function(element) { %>
        <li><a class="<%= element.get('active') ? 'active' : '' %>" href="<%- element.get('url') %>"><%- $.t('navbar.' + element.get('label'), {defaultValue: element.get('label')}) %></a></li>
      <% }) %>
      <li class="space"></li>
      <li class="navigation-bar-icon notifications"></li>
      <li class="navigation-bar-icon nodes-summary-container"></li>
    </ul>
  </div>
</div>
<div class="notification-wrapper"></div>
