<div class="alert alert-warning alert-dismissable registerTrial">
    <button type="button" class="close" aria-hidden="true">&times;</button>
    <p>
        <%- $.t('clusters_page.register_trial_message_click') %>
        <a target="_blank" href="http://fuel.mirantis.com/create-subscriber/?key=eyJyZWxlYXNlIjogIjMuMCIsICJzaGEiOiAiVW5rbm93biBidWlsZCIsICJ1dWlkIjogIlVua25vd24iLCAic2lnbmF0dXJlIjogImV5SnlaV3hsWVhObElqb2dJak11TUNJc0lDSnphR0VpT2lBaVZXNXJibTkzYmlCaWRXbHNaQ0lzSUNKMWRXbGtJam9nSWxWdWEyNXZkMjRpZlE9PSJ9">
             <%- $.t('clusters_page.register_trial_link_label') %>
        </a>
        <%- $.t('clusters_page.register_trial_message_close') %>
    </p>
</div>