<div class="row-fluid">
  <div class="span12">
    <h3 class="page-title" data-i18n="notifications_page.title"></h3>
  </div>
</div>
<div class="notifications-list page-wrapper">
  <ul class="message-list" role="menu">
    <% if (notifications.length) { %>
      <% _.each(notifications.last(notifications.length).reverse(), function(notification) { %>
        <% var topic = notification.get('topic'), icons = {'error': 'icon-attention', 'discover': 'icon-bell'} %>
        <% var nodeId = notification.get('node_id') %>
        <li class="notification-box enable-selection <%= notification.get('status') == 'unread' ? 'new' : '' %> <%= topic %>" data-id="<%= notification.id %>" <%- nodeId ? 'data-node=' + nodeId : '' %>>
          <div class="icon"><i class="<%= icons[topic] || 'icon-info-circled' %>"></i></div>
          <div class="datetime"><%= notification.escape('date') %> <%= notification.escape('time') %></div>
          <div class="message"><%= urlify(notification.escape('message')) %></div>
        </li>
      <% }) %>
    <% } else { %>
      <div class="progress-bar">
        <div class="progress progress-striped progress-success active"><div class="bar"></div></div>
      </div>
    <% } %>
  </ul>
</div>
