<div class="wrapper">
  <h3 class="span12" data-i18n="cluster_page.actions_tab.title"></h3>
  <div class="row-fluid">
    <div class="span4 action-item-placeholder">
      <form class="rename-cluster-form" onsubmit="return false">
        <h4 data-i18n="cluster_page.actions_tab.rename_environment"></h4>
        <div class="action-item-controls">
          <input type="text" maxlength="50" value="<%- cluster.get('name') %>">
          <div class="text-error hide"></div>
          <button class="btn btn-success apply-name-btn"><span data-i18n="common.rename_button"></span></button>
        </div>
      </form>
    </div>
    <div class="span4 action-item-placeholder">
      <form class="reset-environment-form" onsubmit="return false">
        <h4 data-i18n="cluster_page.actions_tab.reset_environment"></h4>
        <div class="action-item-controls">
          <% var resetDescription = cluster.task('reset_environment', 'running') ? 'repeated_reset_disabled' : cluster.task({group: 'deployment', status: 'running'}) ? 'reset_disabled_for_deploying_cluster' : cluster.get('status') == 'new' ? 'reset_disabled_for_new_cluster' : 'reset_environment_description' %>
          <div class="action-item-description <%= isResetDisabled ? 'unavailable' : '' %>" data-i18n="cluster_page.actions_tab.<%- resetDescription %>"></div>
          <% if (!isResetDisabled) { %>
            <div class="action-item-description important" data-i18n="cluster_page.actions_tab.reset_environment_warning"></div>
          <% } %>
          <button class="btn btn-danger reset-environment-btn" data-i18n="common.reset_button" <%= isResetDisabled ? 'disabled' : '' %>></button>
        </div>
      </form>
    </div>
    <div class="span4 action-item-placeholder">
      <form class="delete-cluster-form" onsubmit="return false">
        <h4 data-i18n="cluster_page.actions_tab.delete_environment"></h4>
        <div class="action-item-controls">
          <div class="action-item-description important" data-i18n="cluster_page.actions_tab.alert_delete"></div>
          <button class="btn btn-danger delete-cluster-btn" data-i18n="common.delete_button"></button>
        </div>
      </form>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 action-item-placeholder">
      <form onsubmit="return false" class="update-cluster-form">
        <h4 data-i18n="cluster_page.actions_tab.update_cluster"></h4>
        <div class="action-item-controls">
          <% if (clusterStatusError) { %>
            <button class="btn btn-success rollback-btn rollback-form-controls" data-i18n="common.rollback_button"></button>
            <div class="text-error rollback-form-controls" data-i18n="cluster_page.actions_tab.rollback_message"></div>
          <% } else if (!isUpgradeDisabled) { %>
          <select name="update_release" class="update-form-controls"></select>
          <button class="btn btn-success update-btn update-form-controls" disabled data-i18n="common.update_button"></button>
          <p class="update-form-controls" data-i18n="cluster_page.actions_tab.update_release_message"></p>
          <div class="text-info latest-release-installed" data-i18n="cluster_page.actions_tab.no_releases_to_update_message"></div>
          <% } %>
        </div>
      </form>
    </div>
  </div>
</div>
