<div class="cluster-name-box">
  <div class="cluster-name-placeholder">
    <div class="name-box">
      <h3 class="name page-title"></h3>
      <div class="node-list-name-count">(<%- $.t('common.node', {count: nodesLength}) %>)</div>
      <div class="clearfix"></div>
    </div>
    <div class="cluster-summary-placeholder">
      <div class="release">
        <strong><%- $.t('release_page.release_name') %>: </strong>
        <span></span>
      </div>
      <div class="mode">
        <strong><%- $.t('dialog.create_cluster_wizard.mode.title') %>: </strong>
        <span></span>
      </div>
      <div class="status">
        <strong><%- $.t('cluster_page.environment_status') %>: </strong>
        <span></span>
      </div>
    </div>
 </div>
</div>