<% var cluster = nodes.cluster %>
<div class="cluster-name-box">
    <div class="node-list-name">
        <% if (cluster) { %>
        <ul class="cluster-details dropdown-menu">
            <li><strong data-i18n="cluster_page.openstack_release"></strong><%- cluster.get('release').get('name') %></li>
            <li>
                <strong data-i18n="cluster_page.environment_status"></strong><%- $.t('cluster.status.' + cluster.get('status'), {defaultValue: cluster.get('status')}) %>
            </li>
            <li>
                <strong data-i18n="cluster_page.deployment_mode"></strong><%- $.t('cluster.mode.' + cluster.get('mode'), {defaultValue: cluster.get('mode')}) %>
            </li>
        </ul>
        <i class="<%= cluster.get('status') == 'error' ? 'icon-attention text-error' : 'icon-info-circled text-info' %> btn-cluster-details"></i>
        <% } %>
        <span class="<%= cluster ? 'btn-cluster-details' : '' %>"><%= cluster ? cluster.get('name') : $.t('cluster_page.nodes_tab.unallocated_nodes') %></span>
    </div>
    <div class="node-list-name-count">(<%- $.t('common.node', {count: nodes.length}) %>)</div>
</div>