<% if (task) {
  var taskName = task.get('name');
  var infiniteProgressTasks = ['stop_deployment', 'reset_environment'];
 %>
  <div class="pull-right deployment-progress-box <%= taskName %>">
    <% if (!_.contains(infiniteProgressTasks, taskName)) { %>
      <!--  Stop action is not available for 'update' task right now. The feature is coming soon -->
      <% if (taskName != 'update') { %>
        <div class="deployment-control-item-box">
          <button class="btn btn-danger stop-deployment-btn" title="<%- $.t('cluster_page.stop_deployment_button') %>"><i class="icon-cancel-circle"></i></button>
        </div>
      <% } %>
      <div class="deployment-control-item-box"><div class="deploying-progress-text-box percentage"></div></div>
    <% } %>
    <div class="deployment-control-item-box"><div class="progress progress-<%= _.contains(infiniteProgressTasks, taskName) ? 'warning' : 'success' %> progress-striped active"><div class="bar"></div></div></div>
    <div class="progress-bar-description"><%- $.t('cluster_page.' + taskName, {defaultValue: ''}) %></div>
  </div>
<% } else { %>
  <div class="pull-right deployment-control-box">
    <% var releaseAvailable = cluster.get('release').get('state') == 'available' %>
    <div class="deployment-control-item-box"><button class="deploy-btn <%= releaseAvailable && (cluster.hasChanges() || cluster.needsRedeployment()) && cluster.get('nodes').reject({status: 'ready'}).length ? '' : 'disabled' %>"><i class="icon-upload-cloud"></i> <%- $.t('cluster_page.deploy_changes') %></button></div>
    <div class="deployment-control-item-box">
      <% if (cluster.get('nodes').hasChanges()) { %>
        <button class="btn rollback" role="button" title="<%- $.t('cluster_page.discard_changes') %>"><i class="icon-back-in-time"></i></button>
      <% } %>
    </div>
  </div>
<% } %>
