<div class="edit-node-interfaces <%= locked ? 'changes-locked' : '' %>">
  <h3>
    <%- $.t('cluster_page.nodes_tab.configure_interfaces.title', {count: nodes.length, name: nodes.length && nodes.at(0).get('name')}) %>
  </h3>
</div>

<div class="row">
  <% if (bondingAvailable) { %>
    <div class="page-control-box">
      <div class="page-control-button-placeholder">
        <button class="btn btn-bond" data-i18n="cluster_page.nodes_tab.configure_interfaces.bond_button"></button>
        <button class="btn btn-unbond" data-i18n="cluster_page.nodes_tab.configure_interfaces.unbond_button"></button>
      </div>
    </div>

    <div class="bond-speed-warning alert hide" data-i18n="cluster_page.nodes_tab.configure_interfaces.bond_speed_warning"></div>

  <% } %>
  <div class="node-networks">
    <div class="progress-bar">
      <div class="progress progress-striped progress-success active"><div class="bar"></div></div>
    </div>
  </div>

  <!-- page-control box -->
  <div class="page-control-box">
    <div class="back-button pull-left">
      <button class="btn btn-return" data-i18n="cluster_page.nodes_tab.back_to_nodes_button"></button>
    </div>
    <div class="page-control-button-placeholder">
      <button data-i18n="common.load_defaults_button" class="btn btn-defaults"></button>
      <button data-i18n="common.cancel_changes_button" class="btn btn-revert-changes"></button>
      <button data-i18n="common.apply_button" class="btn btn-success btn-apply"></button>
    </div>
  </div>
</div>
