<div class="edit-node-interfaces wrapper <%= locked ? 'changes-locked' : '' %>">
  <h3 class="span12">Configure interfaces on <%= nodes.length %> node<%= nodes.length == 1 ? '' : 's' %></h3>

  <div class="row node-networks">
    <div class="span4"></div>
    <div class="span4">
      <div class="progress progress-striped progress-success active">
        <div class="bar" style="width: 100%"></div>
      </div>
    </div>
  </div>

  <!-- page-control box -->
  <div class="row">
    <div class="page-control-box">
      <div class="back-button pull-left">
        <button class="btn btn-return" data-i18n="cluster_page.nodes_tab.bt_return">Back To Node List</button>
      </div>
      <div class="page-control-button-placeholder">
        <button data-i18n="cluster_page.nodes_tab.bt_load_defaults" class="btn btn-defaults">Load Defaults</button>
        <button data-i18n="cluster_page.nodes_tab.bt_cancel_changes" class="btn btn-revert-changes">Cancel Changes</button>
        <button data-i18n="cluster_page.nodes_tab.bt_apply" class="btn btn-success btn-apply">Apply</button>
      </div>
    </div>
  </div>
</div>
