<div class="row">
  <div class="title">
    <%- i18n('cluster_page.nodes_tab.configure_disks.title', {count: nodes.length, name: nodes.length && nodes.at(0).get('name')}) %>
  </div>

  <div class="col-xs-12 node-disks">
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" style="width: 100%;"></div>
    </div>
  </div>

  <div class="col-xs-12 page-buttons">
    <div class="well clearfix">
      <div class="btn-group">
        <button class="btn btn-default btn-return" data-i18n="cluster_page.nodes_tab.back_to_nodes_button"></button>
      </div>
      <div class="btn-group pull-right">
        <button data-i18n="common.load_defaults_button" class="btn btn-default btn-defaults"></button>
        <button data-i18n="common.cancel_changes_button" class="btn btn-default btn-revert-changes"></button>
        <button data-i18n="common.apply_button" class="btn btn-success btn-apply"></button>
      </div>
    </div>
  </div>
