<div class="edit-node-interfaces wrapper <%= locked ? 'changes-locked' : '' %>">
  <h3 class="span12"> <%- $.t('cluster_page.nodes_tab.configure_interfaces.configure_interfaces_on_node', {count: nodes.length}) %></h3>

  <div class="row node-networks">
    <div class="span4"></div>
    <div class="span4">
      <div class="progress progress-striped progress-success active">
        <div class="bar" style="width: 100%"></div>
      </div>
    </div>
  </div>

  <!-- page-control box -->
  <div class="row">
    <div class="page-control-box">
      <div class="back-button pull-left">
        <button class="btn btn-return" data-i18n="cluster_page.nodes_tab.back_to_nodes_button"></button>
      </div>
      <div class="page-control-button-placeholder">
        <button data-i18n="common.load_defaults_button" class="btn btn-defaults"></button>
        <button data-i18n="common.cancel_changes_buttons" class="btn btn-revert-changes"></button>
        <button data-i18n="common.apply_button" class="btn btn-success btn-apply"></button>
      </div>
    </div>
  </div>
</div>
