<div class="row-fluid">
  <table class="table table-bordered healthcheck-table enable-selection">
    <thead>
      <tr>
        <th class="healthcheck-col-select">
          <div class="custom-tumbler">
            <label>
              <input type="checkbox" class="testset-select" id="testset-select-<%- testset.id %>">
              <!-- [if !IE |(gte IE 9)]> --><span>&nbsp;</span><!-- <![endif] -->
            </label>
          </div>
        </th>
        <th>
          <label class="testset-name" for="testset-select-<%- testset.id %>"><%- testset.get('name') %></label>
        </th>
        <th class="healthcheck-col-duration" data-i18n="cluster_page.healthcheck_tab.expected_duration"></th>
        <th class="healthcheck-col-duration" data-i18n="cluster_page.healthcheck_tab.actual_duration"></th>
        <th class="healthcheck-col-status" data-i18n="cluster_page.healthcheck_tab.status"></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
