<div class="settings-group">
   <div class="clearfix note">
     <%- $.t("cluster_page.healthcheck_tab.credentials_description") %>
   </div>
   <div class="parameter-box clearfix">
     <div class="openstack-sub-title parameter-name">
       <%- $.t("cluster_page.healthcheck_tab.username_label") %>
     </div>
     <div class="parameter-control ">
       <input type="text" name="username" class="">
     </div>
     <div class="parameter-description description">
       <%- $.t("cluster_page.healthcheck_tab.username_description") %>
     </div>
   </div>
   <div class="parameter-box clearfix">
     <div class="openstack-sub-title parameter-name">
       <%- $.t("cluster_page.healthcheck_tab.password_label") %>
     </div>
     <div class="parameter-control">
       <input type="password" name="password">
     </div>
     <div class="parameter-description description">
       <%- $.t("cluster_page.healthcheck_tab.password_description") %>
     </div>
   </div>
   <div class="parameter-box clearfix">
     <div class="openstack-sub-title parameter-name">
       <%- $.t("cluster_page.healthcheck_tab.tenant_label") %>
     </div>
     <div class="parameter-control">
       <input type="text" name="tenant" class="">
     </div>
     <div class="parameter-description description">
       <%- $.t("cluster_page.healthcheck_tab.tenant_description") %>
     </div>
   </div>
</div>