<div class="wrapper">
  <h3 class="span12" data-i18n="cluster_page.logs_tab.title">Logs</h3>

  <div class="row">
    <div class="filter-bar">
      <div class="filter-bar-item log-type-filter">
        <div class="filter-bar-label" data-i18n="cluster_page.logs_tab.logs">Logs</div>
        <select name="type" class="filter-bar-dropdown input-medium">
          <% _.each(types, function(type) { %>
            <option value="<%= type[0] %>" <%= chosenType == type[0] ? 'selected' : '' %>><%- type[1] %></option>
          <% }) %>
        </select>
      </div>

      <div class="filter-bar-item log-node-filter" style="display:none">
        <div class="filter-bar-label" data-i18n="cluster_page.logs_tab.node">Node</div>
        <select name="node" class="filter-bar-dropdown input-large">
          <% cluster.get('nodes').each(function(node) { %>
            <option value="<%= node.id %>" <%= node.id == chosenNodeId ? 'selected' : '' %>><%- node.get('name') || node.get('mac') %></option>
          <% }) %>
        </select>
      </div>

      <div class="filter-bar-item log-source-filter">
        <div class="filter-bar-label" data-i18n="cluster_page.logs_tab.source">Source</div>
        <select name="source" class="filter-bar-dropdown input-medium" disabled></select>
      </div>

      <div class="filter-bar-item log-level-filter">
        <div class="filter-bar-label" data-i18n="cluster_page.logs_tab.level">Min. level</div>
        <select name="level" class="filter-bar-dropdown input-small" disabled></select>
      </div>

      <div class="filter-bar-item">
        <button class="filter-bar-btn show-logs-btn btn disabled" data-i18n="cluster_page.logs_tab.show">Show</button>
      </div>
    </div>
  </div>

  <div class="logs-fetch-error alert alert-error hide" data-i18n="cluster_page.logs_tab.alert_log">
    Unable to fetch logs.
  </div>

  <div class="node-sources-error alert alert-error hide" data-i18n="cluster_page.logs_tab.alert_source">
    Unable to fetch log sources.
  </div>

  <table class="table table-bordered table-condensed table-logs hide">
    <thead>
      <tr>
        <th nowrap data-i18n="cluster_page.logs_tab.date">Date</th>
        <th nowrap data-i18n="cluster_page.logs_tab.level">Level</th>
        <th data-i18n="cluster_page.logs_tab.message">Message</th>
      </tr>
    </thead>
    <tbody class="entries-skipped-msg">
      <tr>
        <td colspan="3">
          <span data-i18n="cluster_page.logs_tab.bottom_text">
            Some previous lines skipped.
            Show more lines:
          </span>
          <span class="show-all-entries" data-i18n="cluster_page.logs_tab.all">All</span>
        </td>
      </tr>
    </tbody>
    <tbody class="log-entries"></tbody>
    <tbody class="no-logs-msg">
      <tr>
        <td colspan="3" data-i18n="cluster_page.logs_tab.no_log_text">No log entries match current filters.</td>
      </tr>
    </tbody>
  </table>

  <div class="logs-loading row row-fluid hide">
    <div class="span4"></div>
    <div class="span4">
      <div class="progress progress-striped progress-success active">
        <div class="bar" style="width: 100%"></div>
      </div>
    </div>
  </div>

</div>
