<div class="network-settings wrapper <%= locked ? 'changes-locked' : '' %>">
  <h3 data-i18n="cluster_page.network_tab.title"></h3>
  <% if (!loading || loading.state() != 'pending') { %>
    <% if (provider == 'nova_network') { %>
      <div class="radio-checkbox-group">
        <% var managers = {
          FlatDHCPManager: i18n('cluster_page.network_tab.flatdhcp_manager'),
          VlanManager: i18n('cluster_page.network_tab.vlan_manager')
        } %>
        <% _.each(managers, function(label, value) { %>
          <div class="item-box">
            <label class="parameter-box clearfix">
              <div class="parameter-control">
                <div class="custom-tumbler">
                  <input type="radio" name="net-manager" value="<%= value %>" <%= locked ? 'disabled' : '' %>>
                  <!-- [if !IE |(gte IE 9)]> --><span>&nbsp;</span><!-- <![endif] -->
                </div>
              </div>
              <div class="parameter-name"><%- label %></div>
            </label>
          </div>
        <% }) %>
      </div>
      <hr>
    <% } else if (segment_type) { %>
      <span class="network-segment-type">
      <% if (l23_provider == 'nsx' ) { %>
        <%- i18n('cluster_page.network_tab.neutron_l23_provider', {l23_provider: l23_provider.toUpperCase()}) %>
      <% } else { %>
        <%- i18n('cluster_page.network_tab.neutron_segmentation', {segment_type: segment_type.toUpperCase()}) %>
      <% } %>
      </span>
    <% } %>
    <div class="networks-table"></div>
    <div class="networking-parameters"></div>
  <% } else { %>
    <div class="progress-bar">
      <div class="progress progress-striped progress-success active"><div class="bar"></div></div>
    </div>
  <% } %>

  <!-- Verification control -->
  <hr>
  <div class="row verification-control"></div>

  <!-- Buttons -->
  <div class="row">
    <div class="page-control-box">
      <div class="page-control-button-placeholder">
        <button data-i18n="cluster_page.network_tab.verify_networks_button" class="btn verify-networks-btn"></button>
        <button data-i18n="common.cancel_changes_button" class="btn btn-revert-changes"></button>
        <button data-i18n="common.save_settings_button" class="btn btn-success apply-btn"></button>
      </div>
    </div>
  </div>
</div>
