<% var disabled = locked ? 'disabled' : '' %>
<% var networkConfig = network.get('meta') %>

<legend class="networks" data-i18n="network.<%- network.get('name') %>"></legend>
<div class="<%- network.get('name') %>" data-network-id="<%- network.id %>">

  <% if (networkConfig.notation == 'ip_ranges') { %>
    <div class="network-attribute ip-ranges">
      <div class="range-row-header">
        <div data-i18n="cluster_page.network_tab.range_start"></div>
        <div data-i18n="cluster_page.network_tab.range_end"></div>
      </div>
      <div class="parameter-name" data-i18n="cluster_page.network_tab.network_parameters.ip_range"></div>
      <div class="ip-ranges-rows"></div>
    </div>
  <% } %>

  <div class="network-attribute">
    <div class="parameter-box clearfix">
      <div class="parameter-name" data-i18n="cluster_page.network_tab.network_parameters.cidr"></div>
      <div class="parameter-control">
        <input type="text" name="cidr" value="" <%= disabled %> />
      </div>
      <div class="error validation-error"><span class="help-inline"></span></div>
    </div>
  </div>

  <div class="network-attribute">
    <div class="parameter-name" data-i18n="cluster_page.network_tab.network_parameters.use_vlan_tagging"></div>
    <div class="vlan-tagging clearfix">
      <label class="parameter-box clearfix">
        <div class="parameter-control">
          <div class="custom-tumbler">
            <input type="checkbox" <%= disabled %>>
            <!-- [if !IE |(gte IE 9)]> --><span>&nbsp;</span><!-- <![endif] -->
          </div>
        </div>
      </label>
      <label class="parameter-box clearfix">
        <div class="parameter-control">
          <input type="text" value="" name="vlan_start" <%= disabled %>>
        </div>
      </label>
      <div class="error validation-error"><span class="help-inline"></span></div>
    </div>
  </div>

  <% if (networkConfig.use_gateway) { %>
    <div class="network-attribute">
      <label class="parameter-box clearfix">
        <div class="parameter-name" data-i18n="cluster_page.network_tab.network_parameters.gateway"></div>
        <div class="parameter-control">
          <input type="text" name="gateway" value="" <%= disabled %> />
        </div>
        <div class="error validation-error"><span class="help-inline"></span></div>
      </label>
    </div>
  <% } %>

</div>