<% var shownAttributes = network.getAttributes(net_provider) %>
<% if (shownAttributes.length) { %>

  <% var networkName = network.get('name') %>
  <legend class="networks"><%- $.t('network.' + networkName) %></legend>

  <% var disabled = locked ? 'disabled' : '' %>
  <% var vlanManager = net_manager == 'VlanManager' ? '' : 'hide' %>
  <% var labels = {
    'vlan_start': $.t('cluster_page.network_tab.network_parameters.vlan_id'),
    'netmask': $.t('cluster_page.network_tab.network_parameters.netmask'),
    'gateway': $.t('cluster_page.network_tab.network_parameters.gateway'),
    'cidr': $.t('cluster_page.network_tab.network_parameters.cidr'),
    'amount': $.t('cluster_page.network_tab.network_parameters.nubmer_of_networks'),
    'network_size': $.t('cluster_page.network_tab.network_parameters.size_of_networks'),
    'vlan_range': $.t('cluster_page.network_tab.network_parameters.vlan_id_range')
  } %>

  <div data-network-id="<%- network.id %>" class="<%- networkName %>">
    <% var attributes = _.sortBy(_.keys(network.attributes), function(attribute) {return _.indexOf(shownAttributes, attribute)}) %>
    <% _.each(attributes, function(attribute) { %>
      <div class="network-attribute <%= attribute %>">
      <% var hidden = _.contains(shownAttributes, attribute) ? '' : 'hide' %>
      <% if (attribute == 'ip_ranges') { %>
        <div class="range-row-header <%= hidden %>">
        <div data-i18n="cluster_page.network_tab.range_start"></div>
        <div data-i18n="cluster_page.network_tab.range_end"></div>
        </div>
        <div class="networks-sub-title parameter-name range-name <%= hidden %>" data-i18n="cluster_page.network_tab.network_parameters.ip_range"></div>
        <div class="ip-ranges-rows <%= hidden %>"></div>
      <% } else if (_.contains(['netmask', 'gateway', 'cidr', 'amount'], attribute)) { %>
          <label class="parameter-box clearfix setting <%= hidden %> <%= vlanManager && attribute == 'amount' ? 'hide' : '' %>">
            <div class="networks-sub-title parameter-name"><%= labels[attribute] %></div>
            <div class="parameter-control <%- attribute %>">
              <input type="text" class="<%= !vlanManager && attribute == 'amount' ? 'range' : '' %>" name="<%- networkName %>-<%- attribute %>" value="" <%= disabled %> />
            </div>
            <div class="error"><span class="help-inline"></span></div>
          </label>
      <% } else if (attribute == 'vlan_start') { %>
        <% if (net_provider == 'nova_network' && !vlanManager && networkName == 'fixed') { %>
          <div class="range-row-header mini <%= hidden %>">
            <div data-i18n="cluster_page.network_tab.range_start">Start</div>
            <div data-i18n="cluster_page.network_tab.range_end">End</div>
          </div>
          <label class="parameter-box clearfix setting">
            <div class="networks-sub-title parameter-name"><%= labels.vlan_range %></div>
            <div class="range-row">
              <div class="parameter-control vlan_start">
                <input type="text" class="mini range" name="<%- networkName %>-<%- attribute %>" value="" <%= disabled %> />
              </div>
              <div class="parameter-control vlan_end">
                <input type="text" class="mini" name="<%- networkName %>-vlan_end" value="" disabled />
              </div>
              <div class="error"><span class="help-inline"></span></div>
            </div>
          </label>
        <% } else { %>
          <% var vlan = network.get(attribute) %>
          <% var isFloating = networkName == 'floating' ? 'disabled' : '' %>
          <div class="networks-sub-title parameter-name" data-i18n="cluster_page.network_tab.network_parameters.use_vlan_tagging"></div>
          <div class="range-row clearfix" style="height: 40px">
            <label class="parameter-box clearfix setting">
              <div class="parameter-control">
                <div class="custom-tumbler">
                  <input type="checkbox" class="use-vlan-tagging" <%= isFloating || disabled %>>
                  <!-- [if !IE |(gte IE 9)]> --><span>&nbsp;</span><!-- <![endif] -->
                </div>
              </div>
            </label>
            <label class="parameter-box clearfix setting">
              <div class="parameter-control <%- attribute %>">
                <input type="text" value="" name="<%- networkName %>-<%- attribute %>" class="vlan vlan-tagging" <%= isFloating || disabled %>>
              </div>
            </label>
            <div class="error"><span class="help-inline"></span></div>
          </div>
        <% } %>
      <% } else if (attribute == 'network_size') { %>
        <label class="parameter-box clearfix setting <%= hidden %> <%= vlanManager %>">
          <div class="networks-sub-title parameter-name"><%= labels[attribute] %></div>
          <div class="parameter-control <%- attribute %>">
            <select name="<%- networkName %>-<%- attribute %>" <%= disabled %>></select>
          </div>
          <div class="error"><span class="help-inline"></span></div>
        </label>
      <% } %>
      </div>
    <% }) %>
  </div>

<% } %>
