<% var cluster = nodes.cluster %>

<div class="row-fluid node-list-header">
  <div class="span10 enable-selection">
    <div class="cluster-name-box">
      <div class="node-list-name">
        <% if (cluster) { %>
          <ul class="cluster-details dropdown-menu">
            <li><strong data-i18n="cluster_page.openstack_release">OpenStack Release:</strong><%- cluster.get('release').get('name') %></li>
            <li>
              <% var statuses = {'new': $.t('clusters_page.stat_new', {defaultValue: 'New'}), 'deployment': $.t('clusters_page.stat_deploying', {defaultValue: 'Deploying'}), 'operational': $.t('clusters_page.stat_operational', {defaultValue: 'Operational'}), 'error': $.t('clusters_page.stat_error', {defaultValue: 'Error'}), 'remove': $.t('clusters_page.stat_removing', {defaultValue: 'Removing'}) } %>
              <strong data-i18n="cluster_page.environment_status">Environment Status:</strong><%= statuses[cluster.get('status')] %>
            </li>
            <li>
              <% var modes = {'multinode': $.t('cluster_page.mode_multinode', {defaultValue: 'Multi-node'}), 'ha_compact': $.t('cluster_page.mode_multinode_with_HA', {defaultValue: 'Multi-node HA'}) } %>
              <strong data-i18n="cluster_page.deployment_mode">Environment Deployment Mode:</strong><%= modes[cluster.get('mode')] %>
            </li>
          </ul>
          <i class="<%= cluster.get('status') == 'error' ? 'icon-attention text-error' : 'icon-info-circled text-info' %> btn-cluster-details"></i>
        <% } %>
        <span class="<%= cluster ? 'btn-cluster-details' : '' %>"><%= cluster ? cluster.get('name') : $.t('cluster_page.nodes_tab.unallocated_nodes', {defaultValue: 'Unallocated Nodes'}) %></span>
      </div>
      <div class="node-list-name-count ">(<%= nodes.length %> node<%= nodes.length == 1 ? '' : 's' %>)</div>
    </div>
  </div>
  <div class="span2 select-all">
    <label><input type="checkbox" name="select-nodes-common" value="" /><%- $.t('cluster_page.nodes_tab.select_all', {defaultValue: 'Select All'}) %></label>
  </div>
</div>
<div class="row-fluid">
  <% if (!nodes.deferred || nodes.deferred.state() != 'pending') { %>
    <% if (!nodes.length) { %>
      <% var descriptions = [
        $.t('cluster_page.nodes_tab.no_selected_nodes', {defaultValue: 'There are no selected nodes to edit.'}),
        $.t('cluster_page.nodes_tab.no_nodes_in_environment', {defaultValue: 'To add nodes to the environment, select the Add Nodes option, choose the nodes you want to allocate and assign roles to each.'}),
        $.t('cluster_page.nodes_tab.no_nodes_in_fuel', {defaultValue: 'A pool of one or more unallocated nodes is needed for this operation.  To add to the pool, configure nodes to boot from the network (a.k.a. PXE booting).  Fuel will automatically provision and discover the nodes.'}),
      ] %>
      <div class="alert alert-warning"><%= cluster ?  edit ? descriptions[0] : descriptions[1] : descriptions[2] %></div>
    <% } %>
    <div class="nodes"></div>
  <% } else { %>
      <div class="span4"></div>
      <div class="span4">
        <div class="progress progress-striped progress-success active">
          <div class="bar" style="width: 100%"></div>
        </div>
      </div>
  <% } %>
