<!-- network block start -->
<div class="physical-network-box">
  <div class="network-box-name"><%- ifc.get('name') %></div>
  <div class="network-box-item">

    <% var currentSpeed = showBandwidth(ifc.get('current_speed')); %>
    <div class="network-info-box enable-selection">
      <div class="network-interfaces-status"><div class="interface-<%= currentSpeed !== 'N/A' ? 'online' : 'offline' %>"></div></div>
      <div>MAC: <%- ifc.get('mac') %></div>
      <div><%- $.t('cluster_page.nodes_tab.speed', {defaultValue:'Speed:'}) %> <%- currentSpeed %></div>
    </div>

    <div class="logical-network-box">
      <div class="logical-network-group">
        <% ifc.get('assigned_networks').each(function(network) { %>
          <% if (network.get('name') != 'floating') { %>
            </div><div class="logical-network-group">
          <% } %>
          <div class="logical-network-item" data-name="<%- network.get('name') %>">
            <div class="name"><%- network.get('name') == 'fuelweb_admin' ? 'Admin (PXE)' : $.t('cluster_page.nodes_tab.'+network.get('name'), {defaultValue: network.get('name')}) %></div>
            <div class="id">
            <% var vlanStart = network.vlanStart() %>
            <% if (vlanStart) { %>
              <% if (network.amount() == 1) { %>
                VLAN ID: <%- vlanStart %>
              <% } else { %>
                VLAN IDs: <%- vlanStart %>-<%- vlanStart + network.amount() - 1 %>
              <% } %>
            <% } %>
            </div>
          </div>
        <% }) %>
      </div>
      <div class="network-help-message hide" data-i18n="cluster_page.nodes_tab.alert_drag_and_drop">Use drag and drop to move logical networks between physical interfaces</div>
    </div>
  </div>
</div>
<!-- network block end -->
