<% var diskName = disk.get('name') %>

<div class="col-xs-12 disk-box" data-disk="<%- disk.id %>">

  <div class="row">
    <h4 class="col-xs-6">
      <%- diskName %> (<%- disk.id %>)
    </h4>
    <h4 class="col-xs-6 text-right">
      <%- i18n('cluster_page.nodes_tab.configure_disks.total_space') %>: <%= showDiskSize(disk.get('size'), 2) %>
    </h4>
  </div>

  <div class="row disk-visual clearfix" data-toggle="collapse" data-target="#<%- diskName %>">
    <% volumes.each(function(volume) { %>
      <div class="volume-group pull-left" data-volume="<%- volume.get('name') %>" style="width:0;">
        <div class="text-center">
          <div><%- volume.get('label') %></div>
          <div class="volume-group-size"><%= showDiskSize(0) %></div>
        </div>
        <div class="close-btn hide">&times;</div>
      </div>
    <% }) %>
    <div class="volume-group pull-left" data-volume="unallocated" style="width: 100%">
      <div class="text-center">
        <div data-i18n="cluster_page.nodes_tab.configure_disks.unallocated"></div>
        <div class="volume-group-size"><%= showDiskSize(disk.get('size'), 2) %></div>
      </div>
    </div>
  </div>

  <div class="row collapse disk-details" id="<%- diskName %>">

    <div class="col-xs-6">
      <% if (diskMetaData) { %>
        <h5 data-i18n="cluster_page.nodes_tab.configure_disks.disk_information"></h5>
        <div class="form-horizontal disk-info-box">
          <% _.each(sortEntryProperties(diskMetaData, ['name', 'model', 'size']), function(propertyName) { %>
            <div class="form-group">
              <label class="col-xs-2">
                <%- propertyName.replace(/_/g, ' ') %>
              </label>
              <div class="col-xs-10">
                <p class="form-control-static">
                  <%- propertyName == 'size' ? showDiskSize(diskMetaData[propertyName]) : diskMetaData[propertyName] %>
                </p>
              </div>
            </div>
          <% }) %>
        </div>
      <% } %>
    </div>

    <div class="col-xs-6">
      <h5 data-i18n="cluster_page.nodes_tab.configure_disks.volume_groups"></h5>
      <div class="form-horizontal disk-utility-box">
        <% volumes.each(function(volume) { %>
          <% var volumeName = volume.get('name') %>
          <div class="form-group volume-group" data-volume="<%- volumeName %>">
            <label class="col-xs-4">
              <span class="volume-group-flag <%- volumeName %>">&nbsp;</span>
              <%- volume.get('label') %>
            </label>
            <div class="col-xs-3 volume-group-use-all-allowed-btn">
              <% if (!locked) { %>
                <button class="btn btn-link" data-i18n="cluster_page.nodes_tab.configure_disks.use_all_allowed_space"></button>
              <% } %>
            </div>
            <div class="col-xs-4 volume-group-input">
              <input
                id="<%- disk.id + '-' + volumeName %>"
                type="text"
                class="form-control"
                <%= locked ? 'disabled' : '' %>
                name="<%- volumeName %>"
                value="<%- disk.get('volumes').findWhere({name: volumeName}).get('size') || 0 %>"
              />
            </div>
            <div class="col-xs-1 volume-group-size-label" data-i18n="common.size.mb"></div>
          </div>
          <div class="volume-group-error text-danger text-right"></div>
        <% }) %>
        <div class="volume-group-error common text-danger text-right"></div>
      </div>
    </div>

  </div>

</div>
