<% var clusterNodesScreen = nodes.cluster && !edit %>

<div class="cluster-toolbar">
    <div class="cluster-toolbar-item nodes-filter">
      <label data-i18n="cluster_page.nodes_tab.node_management_panel.group_by"></label>
      <select name="grouping" <%= nodes.length ? '' : 'disabled' %>>
        <% var groupings = cluster.groupings() %>
        <% _.each(_.keys(groupings), function(grouping) { %>
          <% if (clusterNodesScreen || edit || grouping == 'hardware') { %>
          <% var currentGrouping = clusterNodesScreen ? nodes.cluster.get('grouping') : 'hardware' %>
          <option value="<%= grouping %>" <%= grouping == currentGrouping ? 'selected' : '' %>><%= groupings[grouping] %></option>
          <% } %>
        <% }) %>
      </select>
    </div>
    <div class="cluster-toolbar-item  nodes-filter">
      <label data-i18n="cluster_page.nodes_tab.node_management_panel.filter_by"></label>
      <input name="filter" type="text" placeholder="<%- $.t('cluster_page.nodes_tab.node_management_panel.filter_placeholder') %>" <%= nodes.length ? '' : 'disabled' %>  />
      <button class="close btn-clear-filter" >×</button>
    </div>
    <% if (clusterNodesScreen) { %>
      <div class="cluster-toolbar-item pull-right">
        <button class="btn btn-danger btn-delete-nodes"><i class="icon-trash"></i><span data-i18n="common.delete_button"></span></button>
      </div>
      <div class="cluster-toolbar-item pull-right">
        <button class="btn btn-success btn-edit-nodes"><i class="icon-edit"></i><span data-i18n="cluster_page.nodes_tab.node_management_panel.edit_roles_button"></span></button>
      </div>
      <div class="cluster-toolbar-item pull-right">
        <button class="btn btn-success btn-add-nodes"><i class="icon-plus"></i><span data-i18n="cluster_page.nodes_tab.node_management_panel.add_nodes_button"></span></button>
      </div>
      <div class="cluster-toolbar-item pull-right">
        <button class="btn btn-group-congiration btn-configure-interfaces" data-action="interfaces"><i class="icon-attention text-error"></i><span data-i18n="dialog.show_node.network_configuration_button"></span></button>
      </div>
      <div class="cluster-toolbar-item pull-right">
        <button class="btn btn-group-congiration btn-configure-disks" data-action="disks"><i class="icon-attention text-error"></i> <span data-dismiss="modal" data-i18n="dialog.show_node.disk_configuration_button"></span></button>
      </div>
    <% } else { %>
      <div class="cluster-toolbar-item pull-right">
        <button class="btn btn-success btn-apply" data-i18n="common.apply_changes_button"></button>
      </div>
      <div class="cluster-toolbar-item pull-right">
        <button class="btn btn-cancel" data-i18n="common.cancel_button"></button>
      </div>
    <% } %>
</div>
