<% var disabled = locked ? 'disabled' : '' %>
<div>
  <legend class="networks dns-servers">DNS Servers</legend>
    <div class="network-attribute">
      <div class="networks-sub-title parameter-name">Name servers</div>
      <div class="range-row clearfix">
        <label class="parameter-box clearfix">
          <div class="parameter-control"><input type="text" value="<%- nameservers[0] %>" class="nameserver" name="nameserver-0" <%= disabled %> /></div>
        </label>
        <label class="parameter-box clearfix">
          <div class="parameter-control"><input type="text" value="<%- nameservers[1] %>" class="nameserver" name="nameserver-1" <%= disabled %> /></div>
        </label>
        <div class="error"><span class="help-inline"></span></div>
      </div>
    </div>
  </div>
</div>
