<div class="cluster-info-placeholder cluster-info"></div>
<div class="deployment-result"></div>
<div class="customization-message"></div>
<div class="whitebox">
  <ul class="nav nav-tabs cluster-tabs">
    <% _.each(tabs, function(tab) { %>
      <li class="<%= activeTab == tab ? 'active' : '' %>">
        <a href="#cluster/<%= cluster.id %>/<%= tab %>">
          <b class="tab-<%= tab %>-normal"></b>
          <div class="tab-title"><%- $.t('cluster_page.tabs.' + tab) %></div>
        </a>
      </li>
    <% }) %>
    <div class="cluster-deploy-placeholder deployment-control"></div>
  </ul>
  <div class="tab-content">
    <% _.each(tabs, function(tab) { %>
      <div class="tab-pane <%= activeTab == tab ? 'active' : '' %>" id="tab-<%= tab %>"></div>
    <% }) %>
  </div>
</div>
