<% if (networks) { %>
  <div class="page-control-box">
    <div class="verification-box">

      <%
        var task = cluster.task({group: 'network'});
        var connectStatus = 'success', connectStatusLast = 'success';
        if (!task || (task && task.match({status: 'ready'}))) {
          connectStatus = connectStatusLast = 'stop';
        } else if (task && task.match({status: 'error'})) {
          connectStatus = connectStatusLast = 'error';
          connectStatus = task.match({name: 'verify_networks'}) && !task.get('result').length ? 'error' : 'success';
        }
      %>
      <div class="verification-network-placeholder">
        <div class="router-box">
          <div class="verification-router"></div>
        </div>
        <div class="animation-box">
          <div class="connect-1-<%= connectStatus %>"></div>
          <div class="connect-2-<%= connectStatusLast %>"></div>
          <div class="connect-3-<%= connectStatusLast %>"></div>
        </div>
        <div class="nodex-box">
          <div class="verification-node-1"></div>
          <div class="verification-node-2"></div>
          <div class="verification-node-3"></div>
        </div>
      </div>

      <div class="verification-text-placeholder">
          <li><strong data-i18n="cluster_page.network_tab.verify_networks.step_0"></strong></li>
          <li data-i18n="cluster_page.network_tab.verify_networks.step_1"></li>
          <li data-i18n="cluster_page.network_tab.verify_networks.step_2"></li>
          <li data-i18n="cluster_page.network_tab.verify_networks.step_3"></li>
          <li data-i18n="cluster_page.network_tab.verify_networks.step_4"></li>
      </div>

      <% if (task && task.match({name: 'verify_networks', status: 'ready'})) { %>
        <div class="alert alert-success enable-selection" data-i18n="cluster_page.network_tab.verify_networks.success_alert"></div>
      <% } else if (task && task.match({status: 'error'})) { %>
        <div class="alert alert-error enable-selection">
          <span data-i18n="cluster_page.network_tab.verify_networks.fail_alert"></span><br/>
          <%= task.escape('message').replace(/\n/g, '<br/>') %>
        </div>
        <% if (task.match({name: 'verify_networks'}) && task.get('result').length) { %>
          <div class="verification-result-table">
            <table class="table table-condensed enable-selection">
              <thead><tr><th data-i18n="cluster_page.network_tab.verify_networks.node_name"></th><th data-i18n="cluster_page.network_tab.verify_networks.node_mac_address"></th><th data-i18n="cluster_page.network_tab.verify_networks.node_interface"></th><th data-i18n="cluster_page.network_tab.verify_networks.expected_vlan"></th></tr></thead>
              <tbody>
                <% _.each(task.get('result'), function(node) { %>
                  <% var absentVlans = _.map(node.absent_vlans, function(vlan) {return vlan || i18n('cluster_page.network_tab.untagged');}) %>
                  <tr><td><%- node.name ? node.name : 'N/A' %></td><td><%- node.mac ? node.mac : 'N/A' %></td><td><%- node.interface %></td><td><%- absentVlans %></td></tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        <% } %>
      <% } %>
    </div>
  </div>
<% } else { %>
  &nbsp;
<% } %>
