<% var ns = 'dialog.change_password.' %>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h3><%- $.t(ns + 'title') %></h3>
</div>
<div class="modal-body">
  <form class="change-password-form" onsubmit="return false">
    <div class="parameter-box clearfix">
      <div class="parameter-name"><%- $.t(ns + 'current_password') %></div>
      <div class="parameter-control">
        <input type="password" name="current_password" maxlength="50" value="" autofocus />
      </div>
      <div class="parameter-description validation-error" style="display:none">
        <%- $.t(ns + 'wrong_current_password') %>
      </div>
    </div>
    <div class="parameter-box clearfix">
      <div class="parameter-name"><%- $.t(ns + 'new_password') %></div>
      <div class="parameter-control">
        <input class="no-show" type="password" name="new_password" maxlength="50" value="" />
      </div>
      <div class="parameter-description validation-error" style="display:none"></div>
    </div>
    <div class="parameter-box clearfix">
      <div class="parameter-name"><%- $.t(ns + 'confirm_new_password') %></div>
      <div class="parameter-control">
        <input class="no-show" type="password" name="confirm_new_password" maxlength="50" value="" />
      </div>
      <div class="parameter-description validation-error" style="display:none">
        <%- $.t(ns + 'new_password_mismatch') %>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal"><%- $.t('common.cancel_button') %></button>
  <button class="btn btn-success btn-change-password" disabled><%- $.t('common.apply_button') %></button>
</div>