<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3 data-i18n="dialog.display_changes.title"></h3>
</div>
<div class="modal-body display-changes-dialog">

  <!-- Changes list -->
  <% var addedNodes = cluster.get('nodes').where({pending_addition: true}).length %>
  <% if (addedNodes) { %>
    <div class="deploy-task-name"><%- $.t("dialog.display_changes.added_node", {nodesCount: addedNodes }) %></div>
  <% } %>
  <% var deletedNodes = cluster.get('nodes').where({pending_deletion: true}).length %>
  <% if (deletedNodes) { %>
    <div class="deploy-task-name"><%- $.t("dialog.display_changes.deleted_node", {nodesCount: deletedNodes }) %></div>
  <% } %>
  <% var reconfiguredNodes = cluster.get('nodes').filter(function(node) {return !node.get('pending_addition') && !node.get('pending_deletion') && !_.isEmpty(node.get('pending_roles'));}).length %>
  <% if (reconfiguredNodes) { %>
    <div class="deploy-task-name"><%- $.t("dialog.display_changes.reconfigured_node", {nodesCount: reconfiguredNodes }) %></div>
  <% } %>

  <%
    var settingsChangesDescriptions = {
      'attributes': $.t("dialog.display_changes.settings_changes.attrs"),
      'networks': $.t("dialog.display_changes.settings_changes.networks"),
      'disks': $.t("dialog.display_changes.settings_changes.disks")
    }
  %>
  <% var nodes = [];
    _.each(cluster.get('changes'), function(change) {
      if (_.isArray(change)) {
        nodes.push(_.last(change));
      } else { %>
        <div class="deploy-task-name"><%- $.t("dialog.display_changes.changed_task_name", {item:  settingsChangesDescriptions[change] }) %> </div>
  <% }}) %>
  <% if (nodes.length) { %>
    <div class="deploy-task-item"><%= settingsChangesDescriptions.disks %></div>
    <ul>
      <% _.each(nodes, function(node) { %>
        <% if (cluster.get('nodes').get(node)) { %>
          <li><%= cluster.get('nodes').get(node).get('name') %></li>
        <% } %>
      <% }) %>
    </ul>
  <% } %>

  <!-- Warnings -->
  <%
    var warnings = {
     'controller': $.t("dialog.display_changes.warnings.controller", {nodeSize: size}),
     'compute': $.t("dialog.display_changes.warnings.compute")
    };
    var warning = null, canDeploy = true;
  %>
  <% if (cluster.needsRedeployment()) { %>
    <hr class="slim">
    <div class="deploy-task-notice">
        <i class="icon-attention"></i>
        <span data-i18n="dialog.display_changes.redeployment_needed"></span>
    </div>
  <% } %>
  <%
    if (cluster.get('nodes').nodesAfterDeploymentWithRole('controller') < size) {
      canDeploy = false;
      warning = 'controller';
    } else if (!cluster.get('nodes').nodesAfterDeploymentWithRole('compute')) {
      warning = 'compute';
    }
  %>
  <% if (warning) { %>
    <hr class="slim">
    <div class="alert alert-error"><%- warnings[warning] %></div>
  <% } %>

</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" data-i18n="common.cancel_button"></button>
  <button class="btn btn-<%= warning ? 'danger' : 'success' %> start-deployment-btn <%= canDeploy ? '' : 'disabled' %>" data-i18n="dialog.display_changes.deploy"></button>
</div>
