<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3 data-i18n="dialog.remove_cluster.title"></h3>
</div>
<div class="modal-body">
  <div class="msg-error">
    <span class="label label-important" data-i18n="dialog.remove_cluster.important"></span>
    <% if (cluster.get('tasks').where({status: 'running'}).length) { %>
      <%- $.t('dialog.remove_cluster.incomplete_actions_text') %>
    <% } else { %>
      <%- $.t('dialog.remove_cluster.node_returned_text') %>
    <% } %>
  </div>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" data-i18n="common.cancel_button"></button>
  <button class="btn btn-danger remove-cluster-btn" data-i18n="common.delete_button"></button>
</div>
