<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3 data-i18n="dialog.reset_environment.title"></h3>
</div>
<div class="modal-body">
  <div class="msg-error">
    <span class="label label-important" data-i18n="common.important"></span>
    <div data-i18n="dialog.reset_environment.text"></div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" data-i18n="common.cancel_button"></button>
  <button class="btn btn-danger reset-environment-btn" data-i18n="common.reset_button"></button>
</div>
