<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3><%- node.get('name') || '' %></h3>
</div>
<div class="modal-body node-popup enable-selection">
  <% if (!node.deferred || node.deferred.state() != 'pending') { %>
    <div class="row-fluid">
      <div class="span5"><div class="node-image-outline"></div></div>
      <div class="span7">
        <div><strong><%- $.t('dialog.show_node.manufacturer_label') %>: </strong><%- node.get('manufacturer') ? node.get('manufacturer') : $.t('common.not_available') %></div>
        <div><strong><%- $.t('dialog.show_node.mac_address_label') %>: </strong><%- node.get('mac') ? node.get('mac') : $.t('common.not_available') %></div>
        <div><strong><%- $.t('dialog.show_node.fqdn_label') %>: </strong><%- (node.get('meta').system || {}).fqdn || node.get('fqdn') || $.t('common.not_available') %></div>
      </div>
    </div>
    <div class="accordion" id="nodeDetailsAccordion">
      <% var meta = node.get('meta') %>
      <% var groupOrder = ['system', 'cpu', 'memory', 'disks', 'interfaces'] %>
      <% var groups = _.sortBy(_.keys(meta), function(group) {return _.indexOf(groupOrder, group)}) %>
      <% _.each(groups, function(group) { %>
        <% var groupEntries = meta[group] %>
        <div class="accordion-group">
          <div class="accordion-heading">
            <div class="accordion-toggle" data-group="<%- group %>">
              <%- $.t('node_details.' + group, {defaultValue: group}) %>
              <span><%- showSummary(meta, group) %></span>
              <i class="icon-expand pull-right"></i>
            </div>
          </div>
          <div class="accordion-body collapse">
            <div class="accordion-inner">
              <% if (_.isArray(groupEntries)) { %>
                <% if (group == 'interfaces' || group == 'disks') groupEntries = _.sortBy(groupEntries, 'name') %>
                <% _.each(groupEntries, function(entry) { %>
                  <div class="nested-object">
                    <% var sortOrder = {
                      disks: ['name', 'model', 'size'],
                      interfaces: ['name', 'mac', 'state', 'ip', 'netmask', 'current_speed', 'max_speed']
                    } %>
                    <% _.each(sortEntryProperties(entry, sortOrder[group]), function(propertyName) { %>
                      <div><label><%- $.t('dialog.show_node.' + propertyName, {defaultValue: showPropertyName(propertyName)}) %></label><span><%- showPropertyValue(group, propertyName, entry[propertyName]) %></span></div>
                    <% }) %>
                  </div>
                <% }) %>
              <% } else if (_.isObject(groupEntries)) { %>
                <% var subentries = _.find(_.values(groupEntries), _.isArray) %>
                <% _.each(groupEntries, function(propertyValue, propertyName) { %>
                  <% if (!_.isArray(propertyValue)) { %>
                    <div><label><%- $.t('dialog.show_node.' + propertyName, {defaultValue: showPropertyName(propertyName)}) %></label><span><%- showPropertyValue(group, propertyName, propertyValue) %></span></div>
                  <% } %>
                <% }) %>
                <% if (_.isArray(subentries)) { %>
                  <% _.each(subentries, function(subentry) { %>
                    <div class="nested-object">
                      <% _.each(sortEntryProperties(subentry), function(propertyName) { %>
                        <div><label><%- $.t('dialog.show_node.' + propertyName, {defaultValue: showPropertyName(propertyName)}) %></label><span><%- showPropertyValue(group, propertyName, subentry[propertyName]) %></span></div>
                      <% }) %>
                    </div>
                  <% }) %>
                <% } %>
              <% } else { %>
                <div><%- groupEntries %></div>
              <% } %>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  <% } else { %>
    <div class="progress-bar">
      <div class="progress progress-striped progress-success active"><div class="bar"></div></div>
    </div>
  <% } %>
</div>
<div class="modal-footer">
  <% if (false && node.get('ip')) { %>
    <button class="btn btn-node-console" data-i18n="dialog.show_node.ssh_console"></button>
  <% } %>
  <% if (node.get('cluster')) { %>
    <button class="btn btn-edit-networks" data-dismiss="modal" data-i18n="dialog.show_node.network_configuration_button"></button>
    <button class="btn btn-edit-disks" data-dismiss="modal" data-i18n="dialog.show_node.disk_configuration_button"></button>
  <% } %>
  <button class="btn node-modal-close" data-dismiss="modal" data-i18n="dialog.show_node.close_button"></button>
</div>
