<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3 data-i18n="dialog.stop_deployment.title"></h3>
</div>
<div class="modal-body">
  <div class="msg-error">
    <span class="label label-important" data-i18n="common.important"></span>
    <% if (cluster.get('nodes').where({status: 'provisioning'}).length) { %>
      <%- $.t('dialog.stop_deployment.provisioning_warning') %>
    <% } else { %>
      <%- $.t('dialog.stop_deployment.text') %>
    <% } %>
  </div>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" data-i18n="common.cancel_button"></button>
  <button class="btn btn-danger stop-deployment-btn" data-i18n="common.stop_button"></button>
</div>
