<% var action = cluster.task({group: 'deployment', status: 'running'}).get('name'); %>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3><%- $.t('dialog.stop_' + action + '.title') %></h3>
</div>
<div class="modal-body">
  <div class="msg-error">
    <span class="label label-important" data-i18n="common.important"></span>
    <% if (cluster.get('nodes').where({status: 'provisioning'}).length) { %>
      <%- $.t('dialog.stop_' + action + '.provisioning_warning') %>
    <% } else { %>
      <%- $.t('dialog.stop_' + action + '.text') %>
    <% } %>
  </div>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" data-i18n="common.cancel_button"></button>
  <button class="btn btn-danger stop-deployment-btn" data-i18n="common.stop_button"></button>
</div>
