<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3 data-i18n="dialog.update_environment.title"></h3>
</div>
<div class="modal-body">
  <% if (action == 'update' && isDowngrade ) { %>
    <div class="msg-error">
      <span class="label label-important" data-i18n="common.important"></span>
      <div data-i18n="dialog.<%= action %>_environment.downgrade_warning"></div>
    </div>
  <% } else { %>
    <div data-i18n="dialog.<%= action %>_environment.text"></div>
  <% }%>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" data-i18n="common.cancel_button"></button>
  <button class="btn btn-<%= action == 'update' ? 'success' : 'danger' %> update-environment-btn" data-i18n="common.<%= action %>_button"></button>
</div>
