<% if (disabledDueToRelease && release) { %>
  <div class="alert"><%- $.t("dialog.create_cluster_wizard.additional.release_alert", {releaseName: release.get('name')}) %></div>
<% } %>
<% if (disabledDueToNetworkMode) { %>
  <div class="alert" data-i18n="dialog.create_cluster_wizard.additional.network_mode_alert"></div>
<% } %>
<form class="form-horizontal" style="margin:0" onsubmit="return false">
  <fieldset>
    <div class="control-group">
      <% var services = [
        {
            name: 'savanna',
            label: $.t("dialog.create_cluster_wizard.additional.install_savanna"),
            description:  $.t("dialog.create_cluster_wizard.additional.install_savanna_description")
        },{
            name: 'murano',
            label: $.t("dialog.create_cluster_wizard.additional.install_murano"),
            description: $.t("dialog.create_cluster_wizard.additional.install_murano_description")
        },{
            name: 'ceilometer',
            label: $.t("dialog.create_cluster_wizard.additional.install_ceilometer"),
            description: $.t("dialog.create_cluster_wizard.additional.install_ceilometer_description")
          }
      ] %>
      <% _.each(services, function(service) { %>
        <label class="parameter-box clearfix">
          <div class="parameter-control">
            <div class="custom-tumbler">
              <input type="checkbox" name="<%= service.name %>" />
              <!-- [if !IE |(gte IE 9)]> --><span>&nbsp;</span><!-- <![endif] -->
            </div>
          </div>
          <div class="parameter-name"><%= service.label %></div>
        </label>
        <div class="modal-parameter-description"><%= service.description %></div>
      <% }) %>
    </div>
  </fieldset>
</form>
