<% if (disabledDueToRelease && release) { %>
  <div class="alert"><%- $.t("dialog.create_cluster_wizard.additional.release_alert", {releaseName: release.get('name')}) %></div>
<% } else if (disabledDueToNetworkMode) { %>
  <div class="alert"><%- warning %></div>
<% } %>
<form class="form-horizontal" style="margin:0" onsubmit="return false">
  <fieldset>
    <div class="control-group">
      <% _.each(services, function(service) { %>
        <label class="parameter-box clearfix">
          <div class="parameter-control">
            <div class="custom-tumbler">
              <input type="checkbox" name="<%= service.name %>" />
              <!-- [if !IE |(gte IE 9)]> --><span>&nbsp;</span><!-- <![endif] -->
            </div>
          </div>
          <div class="parameter-name"><%= service.label %></div>
        </label>
        <div class="modal-parameter-description"><%= service.description %></div>
      <% }) %>
    </div>
  </fieldset>
</form>
