<div class="alert ha-vcenter-alert hide">
  <%- $.t("dialog.create_cluster_wizard.compute.ha_vcenter_warning") %>
</div>
<div class="alert vcenter-alert hide">
  <%- $.t("dialog.create_cluster_wizard.compute.vcenter_warning") %>
</div>
<form class="form-horizontal compute-step" onsubmit="return false">
  <fieldset>
    <div class="control-group">
      <% var hypervisors = ['kvm', 'qemu', 'vcenter'] %>
      <% _.each(hypervisors, function(hypervisor) { %>
        <label class="parameter-box clearfix">
          <div class="parameter-control">
            <div class="custom-tumbler">
              <input type="radio" name="hypervisor" value="<%= hypervisor %>" />
              <!-- [if !IE |(gte IE 9)]> --><span>&nbsp;</span><!-- <![endif] -->
            </div>
          </div>
          <div class="parameter-name"><%- $.t('dialog.create_cluster_wizard.compute.' + hypervisor) %></div>
        </label>
        <div class="modal-parameter-description"><%- $.t('dialog.create_cluster_wizard.compute.' + hypervisor + '_description') %></div>
      <% }) %>
    </div>
  </fieldset>
</form>
