<form class="form-horizontal compute-step" onsubmit="return false">
  <fieldset>
    <div class="control-group">
      <% var hypervisors = ['kvm', 'qemu'] %>
      <% var descriptions = {
        kvm: $.t('dialog.create_cluster_wizard.compute.kvm_description'),
        qemu: $.t('dialog.create_cluster_wizard.compute.qemu_description')
      } %>
      <% _.each(hypervisors, function(hypervisor) { %>
        <label class="parameter-box clearfix">
          <div class="parameter-control">
            <div class="custom-tumbler">
              <input type="radio" name="hypervisor" value="<%= hypervisor %>" />
              <!-- [if !IE |(gte IE 9)]> --><span>&nbsp;</span><!-- <![endif] -->
            </div>
          </div>
          <div class="parameter-name"><%- hypervisor %></div>
        </label>
        <div class="modal-parameter-description"><%- descriptions[hypervisor] %></div>
      <% }) %>
    </div>
  </fieldset>
</form>
