<% if (disabled && release) { %>
  <div class="alert" style="margin:0">Neutron is not supported in <%- release.get('name') %></div>
<% } %>
<form class="form-horizontal" onsubmit="return false">
  <fieldset>
    <div class="control-group">
      <% var managers = ['nova-network', 'neutron-gre', 'neutron-vlan'] %>
      <% var descriptions = {
        'nova-network': 'Nova-Network',
        'neutron-gre': 'Neutron with GRE segmentation',
        'neutron-vlan': 'Neutron with VLAN segmentation'
      } %>
      <% _.each(managers, function(manager) { %>
        <label class="parameter-box clearfix">
          <div class="parameter-control">
            <div class="custom-tumbler">
              <input type="radio" name="manager" value="<%= manager %>" />
              <!-- [if !IE |(gte IE 9)]> --><span>&nbsp;</span><!-- <![endif] -->
            </div>
          </div>
          <div class="parameter-name"><%- descriptions[manager] %></div>
        </label>
      <% }) %>
    </div>
  </fieldset>
</form>
