<% if (disabled && release) { %>
  <div class="alert" style="margin:0">Ceph is not supported in <%- release.get('name') %></div>
<% } %>
<form class="form-horizontal" style="margin:0" onsubmit="return false">
  <fieldset>
    <div class="row-fluid control-group" style="margin:0">
      <div class="span6">
        <h5>Cinder</h5>
        <% _.each(['Default', 'Ceph'], function(backend) { %>
          <label class="parameter-box clearfix">
            <div class="parameter-control">
              <div class="custom-tumbler">
                <input type="radio" name="cinder" value="<%- backend.toLowerCase() %>" />
                <!-- [if !IE |(gte IE 9)]> --><span>&nbsp;</span><!-- <![endif] -->
              </div>
            </div>
            <div class="parameter-name"><%- backend %></div>
          </label>
	<% }) %>
	<p class="help-block">&nbsp;</p>
	<p class="help-block">
          By default, Cinder block storage uses LVM volumes shared over iSCSI. Ceph backend requires two or more Ceph-OSD nodes and the KVM hypervisor.
        </p>
      </div>
      <div class="span6">
        <h5>Glance</h5>
        <% _.each(['Default', 'Ceph'], function(backend) { %>
          <label class="parameter-box clearfix">
            <div class="parameter-control">
              <div class="custom-tumbler">
                <input type="radio" name="glance" value="<%- backend.toLowerCase() %>" />
                <!-- [if !IE |(gte IE 9)]> --><span>&nbsp;</span><!-- <![endif] -->
              </div>
            </div>
            <div class="parameter-name"><%- backend %></div>
          </label>
        <% }) %>
	<p class="help-block">&nbsp;</p>
	<p class="help-block">
          By default, Glance image service uses Swift object storage in HA deployment mode, and local storage on the Controller node in simple multi-node mode. Ceph backend requires two or more Ceph-OSD nodes.
        </p>
      </div>
    </div>

  </fieldset>
</form>
