<form class="form-horizontal" onsubmit="return false">
  <fieldset>
    <div class="row-fluid control-group">
      <div class="span6 cinder">
        <h5 data-i18n="dialog.create_cluster_wizard.storage.cinder"></h5>
        <p class="help-block">&nbsp;</p>
        <p class="help-block" data-i18n="dialog.create_cluster_wizard.storage.cinder_help">
        </p>
      </div>
      <div class="span6 glance">
        <h5 data-i18n="dialog.create_cluster_wizard.storage.glance"></h5>
        <p class="help-block">&nbsp;</p>
        <p class="help-block" data-i18n="dialog.create_cluster_wizard.storage.glance_help">
        </p>
      </div>
    </div>
  </fieldset>
</form>
