<label class="parameter-box clearfix <%- labelClasses %>">
  <div class="parameter-control">
    <div class="custom-tumbler">
      <input type="<%- type %>" name="<%- pane %>" <% if (type == 'radio') { %> value="<%- value %>" <% } %> />
      <!-- [if !IE |(gte IE 9)]> --><span>&nbsp;</span><!-- <![endif] -->
    </div>
  </div>
  <div class="parameter-name <%- descriptionClasses %>" data-i18n="<%- label %>"></div>
</label>
<% if (hasDescription) { %>
    <div class="modal-parameter-description" data-i18n="<%- description %>"></div>
<% } %>
