<label class="parameter-box clearfix col-xs-12 <%- labelClasses %> <%- disabled %>">
  <div class="parameter-control col-xs-1">
    <div class="custom-tumbler">
      <input type="<%- type %>" name="<%- pane %>" <% if (type == 'radio') { %> value="<%- value %>" <% } %> />
      <!-- [if !IE |(gte IE 9)]> --><span>&nbsp;</span><!-- <![endif] -->
    </div>
  </div>
  <div class="parameter-name <%- descriptionClasses %>"><%- i18n(label) %></div>
</label>
<% if (hasDescription) { %>
    <div class="modal-parameter-description col-xs-offset-1"><%- i18n(description) %></div>
<% } %>
