<form class="form-horizontal create-cluster-form" onsubmit="return false" autocomplete="off">
  <fieldset>
    <div class="form-group">
      <label class="control-label col-xs-3"><%- i18n('dialog.create_cluster_wizard.name_release.name') %></label>
      <div class="controls col-xs-9">
        <input type="text" class="form-control" name="name" maxlength="50" autofocus />
        <span class="help-block"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-xs-3"><%- i18n('dialog.create_cluster_wizard.name_release.release_label') %></label>
      <div class="controls col-xs-9 has-warning">
        <select class="form-control" name="release"></select>
        <% if (connectivityAlert) { %>
          <div class="alert alert-warning alert-nailed"><%= connectivityAlert %></div>
        <% } %>
        <div class="release-description"></div>
      </div>
    </div>
  </fieldset>
</form>
