<form class="form-horizontal wizard-network-pane" onsubmit="return false">
  <fieldset>
    <% if (_.contains(app.version.get('feature_groups'), 'mirantis')) { %>
      <div class="network-pane-description">
        <%- i18n('dialog.create_cluster_wizard.network.description') %>
        <a href="https://docs.mirantis.com/openstack/fuel/fuel-<%= app.version.get('release') %>/planning-guide.html#choose-network-topology" target="_blank">
          <%- i18n('dialog.create_cluster_wizard.network.description_link') %>
        </a>
      </div>
    <% } %>
    <div class="form-group">
    </div>
  </fieldset>
</form>
