<div class="login-placeholder">
    <div class="login-box">
        <div class="login-logo-circle"></div>
        <div class="login-logo"></div>
        <div class="login-fields-box">
            <!-- Forms / -->
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="inputEmail"><i class="icon-user"></i></label>
                    <div class="controls">
                        <input class="input-xlarge" type="text" id="inputEmail" placeholder="Email">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword"><i class="icon-key"></i></label>
                    <div class="controls">
                        <input class="input-xlarge" type="password" id="inputPassword" placeholder="Password">
                    </div>
                </div>
                <!-- error auth placeholder -->
                <div class="login-error-auth"><p class="text-center text-error">You have filled in all the fields with
                    errors!</p></div>
                <div class="control-group">
                    <div class="controls" style="margin: 0; padding: 0; text-align: center;">
                        <button type="submit" class="btn btn-success">Log in</button>
                    </div>
                </div>
                <div class="login-language-box ">
                    <p class="text-center"><a href="#">Change Language</a></p>
                </div>
            </form>
            <!-- / Forms -->
        </div>
    </div>
    <div class="login-copyrights">
        <p class="text-center">Copyright &copy; 2013-2014 Mirantis. All rights reserved.</p>
        <p class="text-center">Version: 5.0</p>
    </div>
</div>



<!--<div class="page-wrapper">-->
  <!--<form class="form-horizontal" onsubmit="return false">-->
    <!--<fieldset>-->
      <!--<div class="control-group">-->
        <!--<label class="control-label" data-i18n="">Login</label>-->
        <!--<div class="controls">-->
          <!--<input type="text" class="input-large" name="username" autofocus />-->
          <!--<span class="help-inline"></span>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="control-group">-->
        <!--<label class="control-label" data-i18n="">Password</label>-->
        <!--<div class="controls">-->
          <!--<input type="password" class="input-large" name="password" />-->
          <!--<span class="help-inline"></span>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="control-group">-->
        <!--<div class="controls">-->
          <!--<button class="btn">Log In</button>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="control-group error hide login-error-message">-->
        <!--<div class="controls">-->
          <!--<span class="help-inline error">Unable to log in</span>-->
        <!--</div>-->
      <!--</div>-->
    <!--</fieldset>-->
  <!--</form>-->
<!--</div>-->
