<div class="login-placeholder">
  <div class="login-box">
    <div class="login-logo-circle"></div>
    <div class="login-logo"></div>
    <div class="login-fields-box">
      <!-- Forms / -->
      <form class="form-horizontal" onsubmit="return false">
        <fieldset>
          <div class="control-group">
            <label class="control-label">
              <i class="icon-user"></i>
            </label>
            <div class="controls">
              <input class="input-xlarge" type="text" name="username" autofocus placeholder="<%- $.t('login_page.username') %>">
              <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">
              <i class="icon-key"></i>
            </label>
            <div class="controls">
              <input class="input-xlarge" type="password" name="password" placeholder="<%- $.t('login_page.password') %>">
              <span class="help-inline"></span>
            </div>
          </div>
          <!-- error auth placeholder -->
          <div class="login-error-auth login-error-message hide">
            <p class="text-center text-error" data-i18n="login_page.login_error"></p>
          </div>
          <div class="control-group">
            <div class="controls" style="margin: 0; padding: 0; text-align: center;">
              <button type="submit" class="btn btn-success login-btn" data-i18n="login_page.log_in"></button>
            </div>
          </div>
        </fieldset>
      </form>
      <!-- / Forms -->
    </div>
  </div>
  <div class="login-copyrights">
    <p class="text-center" data-i18n="common.copyright"></p>
    <p class="text-center">Version: <%- version.get('release') %></p>
  </div>
</div>