<div class="page-wrapper" style="margin-top: 100px;">
  <form class="form-horizontal" onsubmit="return false">
    <fieldset>
      <div class="control-group">
        <label class="control-label" data-i18n="">Login</label>
        <div class="controls">
          <input type="text" class="input-large" name="username" autofocus />
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" data-i18n="">Password</label>
        <div class="controls">
          <input type="password" class="input-large" name="passwprd" autofocus />
          <span class="help-inline"></span>
        </div>
      </div>
    </fieldset>
  </form>
</div>
